<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>OsmAnd Support</title>
 </head>
 <body>
  <table width="600px" cellspacing="0" cellpadding="0" border="0" style="margin:auto; padding-top:5%;">
   <tr>
    <td><img src="/images/img_messages.png" style="padding-top:20px;" width="130px" height="130px" alt="Message" /></td>
    <td style="font-size:35px; font-family:arial,helvetica,sans-serif; font-weight:bold; padding-left:50px;" >Thank you for the feedback!</td>
   </tr>
   <tr>
     <td></td>
     <td style="font-size:18px; font-family:arial,helvetica,sans-serif; padding-left:50px;">
        <div th:if="${response == 'bad'} ">
          Oh no! Something went wrong and you did not receive proper help? Please email us (<a href="mailto:contactus@osmand.net">contactus@osmand.net</a>) and we will check the issue as soon as possible.
        </div>
        <div th:if="${response != 'bad'} ">
          We are striving to make our support service better and faster!
        </div>
     </td>
   </tr>
   <tr>
     <td></td>
     <td style="padding-left:50px; padding-top:10px">
       <img src="/images/logo-grey.png" width="206px" height="90px" alt="OsmAnd Maps &amp; Navigation" />
      </td>
   </tr>
  </table>
 </body>
</html>
