indexes
gen
.proc_timestamp



night-builds
latest-night-build
releases
osm-releases

aosmc
srtm-countries
hillshade
osmlive
road-indexes
wiki
.well-known

# files for builder
ivy
legacy-dependencies-mirror
binaries
dependencies-mirror
wikigen
srtm
basemap
osm-extract
terrain-aster-srtm-eudem
wikivoyage

# js
node_modules
package-lock.json
yarn.lock
.DS_Store
/.idea/
