indexes
gen
.proc_timestamp

# new website
website/map
website/v2


night-builds
latest-night-build
releases
osm-releases
reports
osmand-server-boot.jar

aosmc
srtm-countries
hillshade
osmlive
road-indexes
wiki
.well-known

# files for builder
ivy
legacy-dependencies-mirror
binaries
dependencies-mirror
wikigen
srtm
basemap
osm-extract
terrain-aster-srtm-eudem
wikivoyage

hillshade-work
rendering-tests
slope
terrain
travel
weather
wikivoyage-gen

# js
node_modules
package-lock.json
yarn.lock
.DS_Store
/.idea/
