
#month-selection {
	margin-bottom: 10px;
}
#region-selection {
	margin-bottom: 10px;
}
.infobox {
	font-size: 15px;
	line-height: 150%;
}
.infobox ul {
	list-style-type: circle;
	    list-style-position: inside;
}

#register_osm_user {
	float: right;
	margin-top: 15px;
}

#recipients-info-div {
	margin-top: 20px;
	margin-bottom: 20px;
}
#report-total-div {
	margin-top: 20px;
	margin-bottom: 20px;
}
.maincontainer {
	background-color: white;
}

.vlabel {
  font-size: 21px;	
}

.nav a {
	font-size: 15px;
}

.form-control {
	margin-bottom: 10px;
}
.tab-content {
	margin-top: 25px;
}
.container {
	width:60%;
	margin-top: 10px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
}