<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

    <script src="https://unpkg.com/mapillary-js@4.0.0/dist/mapillary.js"></script>
    <link href='https://unpkg.com/mapillary-js@4.0.0/dist/mapillary.css' rel='stylesheet' />

    <style>
        html, body { margin: 0; padding: 0; height: 100%; }
        #mly { height: 100%; }
    </style>
</head>
<body>
<div id='mly'></div>

<script type="text/javascript" th:inline="javascript">
    var {Viewer} = mapillary;
    var photoId = /*[[${photoId}]]*/ '';
    var mly = new Viewer({
        accessToken: 'MLY|4444816185556934|29475a355616c979409a5adc377a00fa',
        container: 'mly', // the ID of our container defined in the HTML body
        imageId: photoId,
    });

    // Viewer size is dynamic so resize should be called every time the window size changes
    window.addEventListener("resize", function() { mly.resize(); });

    mly.on(
        Mapillary.Viewer.nodechanged,
        function(node) {
            var isAndroid = typeof Android !== "undefined";
            var isiOS = typeof window.webkit !== "undefined";
            if (node.latLon) {
                if (isAndroid) {
                    Android.onNodeChanged(node.originalLatLon.lat, node.originalLatLon.lon, node.ca, node.key);
                }
                else if (isiOS) {
                    var obj = new Object();
                    obj.lat = node.originalLatLon.lat;
                    obj.lon = node.originalLatLon.lon;
                    obj.ca = node.ca;
                    obj.key = node.key;
                    var jsonString= JSON.stringify(obj);
                    window.webkit.messageHandlers.iosMessageHandler.postMessage(jsonString);
                }
            } else {
                if (isAndroid) {
                    Android.onNodeChanged(NaN, NaN, NaN, '');
                } else if (isiOS) {
                    window.webkit.messageHandlers.iosMessageHandler.postMessage("");
                }
            }
        }
    );
</script>
</body>
</html>
