<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

    <script src="https://unpkg.com/mapillary-js@4.0.0/dist/mapillary.js"></script>
    <link href='https://unpkg.com/mapillary-js@4.0.0/dist/mapillary.css' rel='stylesheet' />

    <style>
        html, body { margin: 0; padding: 0; height: 100%; }
        #mly { height: 100%; }
    </style>
</head>
<body>
<div id='mly'></div>

<script type="text/javascript" th:inline="javascript">
    var {Viewer} = mapillary;
    var photoId = /*[[${photoId}]]*/ '';
    var viewer = new Viewer({
        accessToken: 'MLY|4444816185556934|29475a355616c979409a5adc377a00fa',
        container: 'mly', // the ID of our container defined in the HTML body
        imageId: photoId,
    });

    // Viewer size is dynamic so resize should be called every time the window size changes
    window.addEventListener("resize", function() { viewer.resize(); });

    const onImage = (event) => {
        const image = event.image;
        var isAndroid = typeof Android !== "undefined";
        var isiOS = typeof window.webkit !== "undefined";
        if (image.lngLat) {
            if (isAndroid) {
                Android.onNodeChanged(image.originalLngLat.lat, image.originalLngLat.lng, image.compassAngle, image.id);
            }
            else if (isiOS) {
                var obj = new Object();
                obj.lat = image.originalLngLat.lat;
                obj.lon = image.originalLngLat.lng;
                obj.ca = image.compassAngle;
                obj.key = image.id;
                var jsonString= JSON.stringify(obj);
                window.webkit.messageHandlers.iosMessageHandler.postMessage(jsonString);
            }
        } else {
            if (isAndroid) {
                Android.onNodeChanged(NaN, NaN, NaN, '');
            } else if (isiOS) {
                window.webkit.messageHandlers.iosMessageHandler.postMessage("");
            }
        }
    };
    viewer.on('image', onImage);
    //viewer.activateCover();
</script>
</body>
</html>
