@font-face {
  font-family: 'Roboto Regular';
  src: url('Roboto-Regular-webfont.eot');
  src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('Roboto-Regular-webfont.woff') format('woff'),
       url('Roboto-Regular-webfont.ttf') format('truetype'),
       url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Regular', Arial, Helvetica, sans-serif;
  font-size: 1.1em;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li {
  padding: 0;
  margin: 0;
}
h1, h2 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
/*default styles*/

h1, h2 {
  font-weight: normal;
  font-size: 40px;
  letter-spacing: 0.06em;
  padding-top: 25px;
  padding-bottom: 25px;
}
.maincontainer {
  width: 100%;
  height: auto;
  background-color: #fff;
  transition: transform .5s;
}
.maincontainer.menu-open {
  position: fixed;
  transform: translate(-300px, 0);
  transition: transform .5s;
}
.main {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  position: relative;
  color: #fff;
}
.header-map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: #ededed url('images/header_image_blur.jpg') center center no-repeat;
  background-size: cover;
}

.shadowline {
  position: relative;
  z-index: 15;
  width:100%;
  height:100px;
  background:rgba(21, 29, 45, 0.77);
}

.menu-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.menu-wrapper a {
  outline: none;
}

.headertitle span {
  font-weight: 700;
}
.headerlogo-link {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 40px;
}
.headerlogo {
  width: 176px;
  height: 77px;
  background: url('images/logo.png') center center no-repeat;
  background-size: 100%;
}
.header-caption {
  position: relative;
  z-index: 10;
  max-width: 1195px;
  padding: 140px 0 200px;
  margin: 0 auto;
  text-align: center;
}
.headertext {
  margin: 169px 0 109px;
  padding: 0 40px;
  font-size:50px;
  line-height:1.6em;
  font-weight: bold;
  letter-spacing:.06em;
  text-transform: uppercase;
  text-shadow: 0 0 3px #333;
}
.menu {
  position: absolute;
  top: 50%;
  right: -182px;
  margin-top: -12px;
  font-family: Verdana, Arial;
  font-weight: 700;
  letter-spacing: .06em;
  transform: translate(0, 0);
  text-transform: uppercase;
}
.menu-humburger {
  display: none;
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 20px;
  background: url('images/main-sprite.png') no-repeat -260px -60px;
  cursor: pointer;
}
.menu .mobile-sign {
  display: none;
  padding-bottom: 35px;
  margin-bottom: 10px;
  color: #667580;
  border-bottom: 1px solid;
}
.menu {
  font-size: 0;
}
.menu li {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  letter-spacing: 1.05px;
  padding-right:55px;
}
.menu a {
  color: #fff;
  text-decoration: none;
}
.menu a:hover {
  color: #ff8f00;
}

.menu .activeitem a {
  color: #ff8f00;
}
.header-caption {
  text-align: center;
}
.headertitle {
    line-height: 1.6em;
    font-size: 3em;
}
.headertitletext {
    line-height: 1.6em;
    font-size: 1.3em;
}
.dvrlogo {
    background: url("images/osmand-dvr-logo.png") left top no-repeat;
    background-size: contain;
    display: inline-block;
    width: 100px;
    height: 100px;
}
.appstorebadge img {
    width: 100px;
    margin-top: 30px;
}

/************* features*****************************/
.features {
  position: relative;
  overflow: hidden;
  background: #fff;
  padding-bottom: 80px;
  padding-top: 40px;
}
.features h2 {
  text-align: center;
  color: rgb(255, 143, 0)
}
.featurescontent {
  max-width: 1180px;
  padding: 0 40px;
  margin: 0 auto;
  font-size: 0;
}
.features .column {
  display: inline-block;
  vertical-align: top;
  width: 45%;
}
.features .column:first-of-type {
  margin-right: 10%;
}
.features ul li {
  border-bottom: 1px solid #efefef;
  height: 50px;
  font-size: 18px;
}
.features ul li:last-child {
  border-bottom: none;
}
.features .column div {
    height: 50px;
    display: table;
}
.features span {
    display: table-cell;
    vertical-align: middle;
}
.features .column div:before {
  content: '';
  width: 30px;
  height: 30px;
  background-size: contain;
  display: inline-block;
  margin: 10px 10px 0 0;
}
.features .ipad-supported:before {
    background-image: url("images/ic_ipad_supported.png");
}
.features .webserver:before {
    background-image: url("images/ic_web_server.png");
}
.features .carmode:before {
    background-image: url("images/ic_carmode.png");
}
.features .portrait-landscape:before {
    background-image: url("images/ic_portrait_landscape.png");
}
.features .gpx:before {
    background-image: url("images/ic_gpx.png");
}
.features .help:before {
    background-image: url("images/ic_help.png");
}
.features .videogallery:before {
    background-image: url("images/ic_video_gallery.png");
}
.features .favorites:before {
    background-image: url("images/ic_Favorites.png");
}
.features .photo:before {
    background-image: url("images/ic_photo.png");
}
.features .ios7:before {
    background-image: url("images/ic_ios7.png");
}
.features .location-reading:before {
    background-image: url("images/ic_location_Reading.png");
}
.features .password-protection:before {
    background-image: url("images/ic_Password_protection.png");
}
.features .power-saving:before {
    background-image: url("images/ic_power_saving.png");
}
.features .recover-video-recording:before {
    background-image: url("images/ic_Recover_video_recording.png");
}
.features .simple-interface:before {
    background-image: url("images/ic_Simple_interface.png");
}
.features .subtitles:before {
    background-image: url("images/ic_subtitles.png");
}
.features .speedlimit:before {
    background-image: url("images/ic_speed_limit.png");
}
.features .map-providers:before {
    background-image: url("images/ic_map_providers.png");
}
.footer {
  position: relative;
  background: #292f33;
  padding: 50px;
  font-size: 0;
  text-align: center;
}
.footer-block {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  font-size: 18px;
}
.footerlogo {
  display: block;
  width: 200px;
  height: 90px;
  margin: 0;
  background: url('images/logo.png') center center no-repeat;
  background-size: 100%;
}
.footerlinkstitle {
    color: #698c8e;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.footer-menu {
  text-align: right;
}
.footer ul {
    display: inline-block;
    padding-left: 0;
    font-size: 0.8em;
    text-align: left;
    list-style-type: none;
}
.footer ul li {
    line-height: 31px;
}
.footer ul a {
    color: #fff;
    text-decoration: none;
}
.footer .footer-dvrlogo {
    height: 100px;
    background: url("images/osmand-dvr-logo.png") center center no-repeat;
    background-size: contain;
}
/**********************slider**************************/
.slideswrapper {
  position: relative;
  padding: 50px 0;
}
.slides {
  position: relative;
  z-index: 1;
  max-width: 440px;
  margin: 0 auto;
}
.wrapper-image {
  position: absolute;
  z-index: 0;
  top: 30px;
  left: 50%;
  margin-left: -308px;
}
.wrapper-image img{
  width: 616px;
}
.slick-dots {
  position: absolute;
  bottom: -50px;
  width: 100%;
  text-align: center;
}
.slick-dots li {
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #aeaeae;
  margin-right: 5px;
}
.slick-dots li.slick-active {
  background: #ff8f00;
}
.slick-dots li button {
  display: none;
}

@media screen and (max-width: 1500px) {
  .menu {
    right: 0;
  }
}
@media screen and (max-width: 1100px) {
  .logoblock {
    width: 100%;
    margin-bottom: 40px;
  }
  .logoblock:after {
    content: '';
    display: table;
    float: none;
    clear: both;
  }
  .menublock {
    width: 100%;
  }
  .features ul li {
    font-size: 16px;
    height: auto;
    padding: 3px 0;
  }
}
@media screen and (max-width: 900px) {
  .menu-humburger,
  .menu .mobile-sign {
    display: block;
  }
  .menu {
    display: none;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 300px;
    height: 100vh;
    min-height: 800px;
    padding: 20px 40px 0;
    margin-top: 0;
    background: #292f33;
    transform: translate(100%, 0);
    transition: all .5s;
  }
  .menu.active {
    display: block;
  }
  .menu li {
    display: block;
    padding-top: 18px;
    padding-bottom: 18px;
    font-weight: 400;
  }
}
@media screen and (max-width: 650px) {
  .headertext {
    font-size: 30px;
    margin: 110px 0 50px;
  }
  .menu li {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
  }
  .wrapper-image {
    display: none;
  }
  .features .column {
    width: 100%;
    margin-right: 0;
  }
  .footer-block {
    width: 100%;
    text-align: center
  }
  .footerlogo {
    margin: 0 auto;
  }
  .footer .footer-dvrlogo {
    margin: 30px 0;
  }
}
@media screen and (max-width: 550px) {
  .headerlogo {
    width: 120px;
  }
  .menu li {
    padding-right: 35px;
  }
  .featurescontent {
    padding: 0 20px;
  }
}
@media screen and (max-width: 360px) {
  .menu-humburger {
    right: 10px;
  }
  .headertext {
    padding: 0 20px;
    font-size: 24px;
  }
}