/*cleaning up*/
body{margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:1.1em;}
ul{list-style-type: none; margin:0; padding:0;}
ul li{padding:0; margin:0;}
h1 { -webkit-margin-before:0; -webkit-margin-after:0;}

/*default styles*/
h1{font-weight:normal; font-size:40px; letter-spacing: 0.06em; padding-top:25px; padding-bottom:25px;}

.bold {font-weight:bold;}

.maincontainer{ width:100%; height:auto; overflow:hidden; background-color:#CFCFCF; min-width:1280px;}
.main {position:relative; max-width:1920px; margin:0 auto;}

.header {position:relative; color:#fff; height: 0;
    padding-top: 40%; background: url("images/header_image_blur.jpg") center top no-repeat; background-size:contain;}
.shadowline{position:relative; margin-top:-40%; height:100px; width:100%; background: url("images/head_shadow.png") repeat-x; background-size:contain;}
.headerlogo{position:relative; top:10px; margin-left:21%; width:200px; height:77px; background: url("images/logo.png") center top no-repeat; background-size:contain;}
.menu{position: relative; margin-top:-38px; right:10%; float:right; list-style-type: none;  font-family:Verdana, Arial; font-weight:bold; letter-spacing:0.06em;}
.menu li{float:left; padding-right:55px;}
.menu a{color:#fff; text-decoration:none;}
.menu .activeitem a{color:rgb(255, 143, 0);} 

.headertextwrapper{position:relative; margin-left:50%; width:232px; margin-top:7%; text-align:center;}
.headertextblock{ margin-left:-232px; line-height:1.6em;}
.headertitle {line-height:1.6em; font-size:3em;}
.headertitletext {line-height:1.6em; font-size:1.3em;}
.dvrlogo{background:url("images/osmand-dvr-logo.png") left top no-repeat; background-size:contain; display:inline-block; width:100px; height:100px; }


.appstorebadge img{width:100px; margin-top:30px;}

/************* features*****************************/
.features{position:relative; overflow:hidden;background:#fff; padding-bottom:30px; padding-top:40px;}
.features h1{text-align:center; color:rgb(255, 143, 0)}
.featurescontent{width:1100px; margin:0 auto;}
.features .column{width:500px; }
.features .left{float:left;}
.features .right{float:right;}
.features ul li {border-bottom: 1px solid #EFEFEF; height:50px; }
.features ul li img{width:30px; margin: auto 10px;}
.features ul li.last{border-bottom: none;}
.features .iconcontainer {height:50px; width:50px; float:left; text-align:center;}
.features .textcontainer{height:50px; display:table;}
.features .textcontainer span { display: table-cell;  vertical-align: middle;   }

.features .icon{ width:30px; height:30px; background-size:contain; display:inline-block; margin-top:10px;}
.features .ipad-supported{background-image:url("images/ic_ipad_supported.png");}
.features .webserver{background-image:url("images/ic_web_server.png");}
.features .carmode{background-image:url("images/ic_carmode.png");}
.features .portrait-landscape{background-image:url("images/ic_portrait_landscape.png");}
.features .gpx{background-image:url("images/ic_gpx.png");}
.features .help{background-image:url("images/ic_help.png");}
.features .videogallery{background-image:url("images/ic_video_gallery.png");}
.features .favorites{background-image:url("images/ic_Favorites.png");}
.features .photo{background-image:url("images/ic_photo.png");}
.features .ios7{background-image:url("images/ic_ios7.png");}
.features .location-reading{background-image:url("images/ic_location_Reading.png");}
.features .password-protection{background-image:url("images/ic_Password_protection.png");}
.features .power-saving{background-image:url("images/ic_power_saving.png");}
.features .recover-video-recording{background-image:url("images/ic_Recover_video_recording.png");}
.features .simple-interface{background-image:url("images/ic_Simple_interface.png");}
.features .subtitles{background-image:url("images/ic_subtitles.png");}
.features .speedlimit{background-image:url("images/ic_speed_limit.png");}
.features .map-providers{background-image:url("images/ic_map_providers.png");}


.footer{position:relative;  background-color:#43464D; height:220px; }
.halvecolumn{width:50%; float:left;}
.footerlogo{position:absolute; top:60px; left:21%; width:200px;}
.footerlinkstitle{color: #698C8E; margin-top:18px; margin-bottom:10px;}
.footer ul{list-style-type: none;  font-size:0.8em; padding-left:0; padding-top:50px;}
.footer ul li {line-height:31px;}
.footer ul a{color:#fff; text-decoration:none;}
.footer .left{float:left; width:50%;}
.footer .right{float:right; width:50%;}
.footer .footerdvrlogo{margin-top: 60px; background:url("images/osmand-dvr-logo.png") left top no-repeat; background-size:contain; display:inline-block; width:100px; height:100px;}


/**********************slider**************************/
.slides{position:relative; height:272px; width:895px; }
.slides-container{position:relative; overflow:hidden; width:442px; height:295px;}
.slides-control{position:relative;width:1326px;height:285px;left:-442px; top:22px;}
.slide{position:absolute;top:0px;left:442px;}
.slide img{ width:442px; }
.slides .wrapper-image{position:absolute; left:140px;top:0px;}
.slides .wrapper-image img{width:616px;}
.slideswrapper {overflow:hidden; background-color:#fff; padding-top:30px;}
.pagination{width:80px; height:12px; margin:0 auto; }
.pagination li {float:left; height:12px; background-image:url("images/pagination.png"); background-position:0 0; width:12px; display:block;}
.pagination .current {background-position:0 13px;}