 <div class="features">
    <div class="featurestitle">
      <h2>APP FEATURES</h2>
      <p>Global Mobile Map Viewing and Navigation for Online and Offline OSM Maps</p>
    </div>
    <div class="featurescontainer">
      <div class="featureblock">  
        <div class="featureblocktitle feature-nav"> 
          <h2>Navigation</h2>
        </div>
        <ul class="categorydescription">
          <li>Works totally offline (no roaming charges when you are abroad) </li>
          <li>Turn-by-turn voice guidance (recorded and synthesized voices) </li>
          <li>Announce traffic warnings like stop signs, pedestrian crosswalks, or when you are exceeding the speed limit  </li>   
          <li>Optional lane guidance, street name display, and estimated time of arrival</li>
          <li>Supports intermediate points on your itinerary</li>
          <li>Automatic re-routing whenever you deviate from the route</li>
          <li>Search for places by address, by type (e.g.: restaurant, hotel, gas station, museum), or by geographical coordinates</li>
        </ul>
      </div>
    
      <div class="featureblock">  
        <div class="featureblocktitle feature-map"> 
          <h2>Map viewing</h2>
        </div>
        <ul class="categorydescription">
          <li>Carry highly detailed, fully offline maps of any region world wide on your device!</li>
          <li>Display your position and orientation on the map</li>
          <li>Optionally align the map according to compass or your direction of motion </li>
          <li>Save your most important places as Favorites</li>
          <li>Display POIs (points of interest) around you</li>
          <li>Can also display specialized online tile maps</li>
          <li>Can also display satellite view (from Bing)</li>
          <li>Can display different overlays like touring/navigation GPX tracks and additional maps with customizable transparency</li>
          <li>Optionally display place names in English, local, or phonetic spelling</li>
        </ul>
      </div>    
    
      <div class="featureblock">  
        <div class="featureblocktitle feature-bike"> 
          <h2>Bicycle and pedestrian features</h2>
        </div>
        <ul class="categorydescription">
          <li>The offline maps include foot, hiking, and bike paths, great for outdoor activities</li>
          <li>Map display and navigation mode for bicycle and pedestrian</li>
          <li>Optionally display public transport stops (bus, tram, train) including line names</li>
          <li>Optional trip recording to local GPX file or online service</li>
          <li>Optional speed and altitude display</li>
          <li>Display of contour lines and hill-shading (via additional plugin)</li>    
        </ul>
      </div>
    
      <div class="featureblock">  
        <div class="featureblocktitle feature-opensource">
          <h2>Open Source <span class="subheader">OpenStreetMap &amp; Wikipedia data</span></h2>
        </div>
        <ul class="categorydescription">
          <li>High quality information from the 2 best collaborative projects of the world</li>
          <li>Global maps from OpenStreetMap, available per country or region</li>
          <li>Wikipedia POIs, great for sightseeing (not available in free version)</li>
          <li>Unlimited free map downloads, directly from the app (download limit 7 map files in the free version)</li>
          <li>Always up-to-date maps (updated at least once a month)</li>
          <li>OsmAnd Live - hourly map updates and all features available (available by subscription)</li> 
          <li>Compact offline vector maps</li>  
          <li>Select between complete map data and just road network (Example: All of Japan is 700 MB, or 200 MB for the road network only)</li>            
          <li>Also supports online or cached tile maps</li>
        </ul>
      </div>
    
    </div>
  </div>

  <div class="screenshots">  
    <div class="slider">
      <div class="sliderheader">
        <h2>Screenshots</h2>
        <div class="switch">
          <div class="button active" data-gatag="android_button">Android</div>
          <div class="button" data-gatag="ios_button">iOS</div>
        </div>
      </div>
      <div class="images android">
        <img class="screenshot android" src="/images/promo-1s.png"/>
        <img class="screenshot android" src="/images/promo-2s.png"/>
        <img class="screenshot android" src="/images/promo-3s.png"/>
        <img class="screenshot android" src="/images/promo-4s.png"/>
        <img class="screenshot android" src="/images/promo-5s.png"/>
        <img class="screenshot android" src="/images/promo-6s.png"/>
        <img class="screenshot android" src="/images/promo-7s.png"/>
        <img class="screenshot android" src="/images/promo-8s.png"/>
        <img class="screenshot android" src="/images/promo-9s.png"/>
        <img class="screenshot android" src="/images/promo-10s.png"/>
      </div>
      <div class="images ios">
        <img class="screenshot ios" src="/images/ios-1s.png"/>
        <img class="screenshot ios" src="/images/ios-2s.png"/>
        <img class="screenshot ios" src="/images/ios-3s.png"/>
        <img class="screenshot ios" src="/images/ios-4s.png"/>
        <img class="screenshot ios" src="/images/ios-5s.png"/>
        <img class="screenshot ios" src="/images/ios-6s.png"/>
        <img class="screenshot ios" src="/images/ios-7s.png"/>
        <img class="screenshot ios" src="/images/ios-8s.png"/>
        <img class="screenshot ios" src="/images/ios-9s.png"/>
        <img class="screenshot ios" src="/images/ios-10s.png"/>
      </div>
    </div>  
    <div class="screenshot-preview-holder"></div>
  </div>

  <div class="whatyousay">
    <div class="whatyousaycontainer">     
      <h2>What you say</h2>
      <div class="whatyousayblock">
        <div class="whatyousaymessage">
          <span>"I use openstreetmap &amp; osmandapp for hiking. Their new iD map editor is easy, so I added a few missing local footpaths."</span>
        </div>
        <div class="signature">
          <div class="name">Iain Cheyne</div>
          <div class="source">twitter: @Icheyne</div>
        </div>
      </div>          
      
      <div class="whatyousayblock ">
        <div class="whatyousaymessage">
          <span>"Saved me numerous times, I would not have survived the Philippines without it!"</span>
        </div>
        <div class="signature">
          <div class="name">Michelle Ann Levine</div>
          <div class="source">Google Play</div>
        </div>
      </div>
      
      <div class="whatyousayblock">
        <div class="whatyousaymessage">
          <span>"Installed on a whim while on a cycling trip : I was very impressed by the amount of detail!"</span>
        </div>
        <div class="signature">
          <div class="name">Fran&#231;ois-Xavier Thomas</div>
          <div class="source">Google Play</div>
        </div>
      </div>

      <div class="whatyousayblock">
        <div class="whatyousaymessage">
          <span>"Found osmandapp :) trip planning is incredible."</span>
        </div>
        <div class="signature">
          <div class="name">Joanne Donn</div>
          <div class="source">twitter: @GearChic</div>
        </div>
      </div>
      
      <div class="whatyousayblock">
        <div class="whatyousaymessage">
          <span>"Whenever I travel I always use it. Very useful."</span>
        </div>
        <div class="signature">
          <div class="name">Sonny Lacanlale</div>
          <div class="source">Google Play</div>
        </div>
      </div>
      
      <div class="whatyousayblock">
        <div class="whatyousaymessage">
          <span>"Great navigation app with offline maps from OpenStreetMap with e.g. lane by lane navigation while driving, the UI is a bit difficult to navigate but it's a must app for vacation abroad."</span>
        </div>
        <div class="signature">
          <div class="name">Jan Igerud</div>
          <div class="source">Google Play</div>
        </div>
      </div>

      <div class="badgescontainer">
        <div class="badges">
          <a data-gatag="googleplay" href="https://play.google.com/store/apps/details?id=net.osmand&amp;referrer=utm_source%3Dwebsite%26utm_medium%3Dtop"><img alt="Get it on Google Play" src="/images/en-play-badge.png" /></a>
          <a data-gatag="amazon" href="http://www.amazon.com/gp/product/B00D0SEGMC/ref=mas_pm_OsmAnd-Maps-Navigation"><img alt="Get it on Amazon" src="/images/amazon-apps-store.png" /></a>
          <a data-gatag="ios" class="appstoretopbadge" href="https://itunes.apple.com/app/apple-store/id934850257?pt=2123532&amp;ct=WebSite&amp;mt=8"><img src="/images/app-store-badge.png"/></a>
          <a data-gatag="huawei" class="appstoretopbadge" href="https://appgallery.huawei.com/app/C101486545"><img src="/images/huawei-app-gallery-badge.png"/></a>
        </div>
      </div>
    </div>
  </div>

  <div class="mapexample">
    <div class="mapexampleheader">  
      <h2>Map example</h2>
    </div>
    <div class="mapcontainer">
      <div class="selectbox">
        <div class="selecttitle first">MAP STYLE</div>
        <ul class="theme-selector">
          <li>
            <label class="active"><input data-gatag="osmand" type="radio" name="style" value="default" checked="true" />OsmAnd</label>
          </li>
          <li>
            <label><input data-gatag="osmand_night" type="radio" name="style" value="night"/>OsmAnd - night</label>
          </li>      
        </ul>
        <div class="selecttitle">SHOW</div>
        <ul class="map-selector">
          <li>
            <label><input data-gatag="city_map" type="radio" name="show" value="citymap" checked="true"/>City map</label>
          </li>
          <li>
            <label><input data-gatag="cycling_routes" type="radio" name="show" value="cycling"/>Cycling routes</label>
          </li>
          <li>
            <label><input data-gatag="detailed_map" type="radio" name="show" value="detailedmap"/>Detailed map</label>
          </li>
          <li>
            <label><input data-gatag="hiking" type="radio" name="show" value="hiking"/>Hiking</label>
          </li>
          <li>
            <label><input data-gatag="public_transport" type="radio" name="show" value="subway" />Public transport</label>
          </li>
          <li>
            <label><input data-gatag="road_surface" type="radio" name="show" value="roadsurface"/>Road surface</label>
          </li>
          <li>
            <label><input data-gatag="nautical_sea" type="radio" name="show" value="nauticalsea"/>Nautical - sea</label>
          </li>
          <li>
            <label><input data-gatag="nautical_canals" type="radio" name="show" value="nauticalcanals"/>Nautical - canals</label>
          </li>
        </ul>
      </div>
    </div>
  </div>


  
  <div class="giveawayheader">
    <div class="subtitle" id="osmand_giveaway"><h2>OsmAnd Giveaway</h2></div>
  </div>
  <div class="giveaway">
    <div class="giveaway-message">
      <div class="giveaway-content">
          <p>We know that not everyone is able to purchase OsmAnd on Google Play / Amazon store due to various reasons, but many of you would still like to support the application by using it and spreading it around the world. 
          <br>
          <br>We are proud of our community, so we have decided to give away OsmAnd licenses as part of small entertaining game. </p>
          <a href="https://osmand.net/giveaway">Read more</a>
      </div>
      <div class="giveaway-form">
        <form role="form" action="subscription/register_email" method="post" id="register_email">
          <div class="giveaway-form-subtitle first-subtitle">I'm using OsmAnd on:</div>
          <div class="giveaway-form-devices">
            <div class="giveaway-form-device">
              <label><input type="radio" id="giveaway-android" name="os" value="android"/>Android</label>
            </div>
            <div class="giveaway-form-device">
              <label><input type="radio" id="giveaway-android" name="os" value="ios"/>iOS</label>
            </div>
          </div>
          <div class="giveaway-form-subtitle">Enter your email address to participate:</div>
          <div class="giveaway-form-user">
            <input type="text" class="giveaway-email" id="email" name="email">
            <button type="submit" id="register_giveaway" class="giveaway-submit giveaway-submit-disabled" disabled>Subscribe</button>
          </div>
        </form>
        <div id="register_giveaway_failed" style="display:none">Registration has failed :(</div>
        <div id="register_giveaway_success" style="display:none">Boost the app improvement by posting about OsmAnd on your social media.</div>
      </div>

    </div>
    <div class="giveaway-picture">
      </div> 
  </div>