<!--       <h1>TWITTER</h1>
                    <a class="twitter-timeline" href="https://twitter.com/osmandapp" data-widget-id="598236050113372160">Tweets by @osmandapp</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
-->
 <h2>Poll</h2>

 <script type="text/javascript" charset="utf-8" 
th:src="'https://secure.polldaddy.com/p/'+${poll.polldaddyid}+'.js'" src="http://static.polldaddy.com/p/10012432.js"></script>
<noscript>
	<a th:href="'https://polldaddy.com/poll/'+${poll.polldaddyid}" th:text="${poll.title}">Have you tried the 'Travel' feature? Please share your thoughts</a></noscript>
</html>
