<div th:fragment="header (header_id, header_title)">

<div
  th:classappend="${header_id == 'MAIN' || header_id == 'DVR'}?'header':(${header_id == 'API'}?'custom_build_it':'simpleheader')">
  <div class="header-map" th:if="${header_id == 'MAIN' || header_id == 'DVR'}"></div>
  <div class="shadowline">
    <div class="menu-wrapper">
     <a href="/" th:href="'/'+${locale_path}" class="headerlogo-link"><div class="headerlogo"></div></a>
      <ul class="menu">
        <li class="mobile-sign" th:text="#{top_menu}">Menu</li>
        <li class="lang_switcher mobile-only">
          <div class="dropbtn" id="lang_switcher_btn" th:text="${#strings.isEmpty(locale_path)?'EN':#strings.substringBefore(locale_path,'/')}"></div>
          <div class="dropdown-content" id="lang_dropdown">
            <a href="/" class="" th:classappend="${locale_path == 'en/' || locale_path == ''}?'current'">English</a>
            <a href="/ru/" class="" th:classappend="${locale_path == 'ru/'}?'current'">Русский-Russian</a>
            <a href="/de/" class="" th:classappend="${locale_path == 'de/'}?'current'">Deutsch-German</a>
          </div>
        </li>
        <li th:classappend="${header_id == 'FEATURES'}?'activeitem'"><a data-gatag="header_features" href="/features" th:href="'/'+${locale_path}+'features'" th:text="#{top_features}">Features</a></li>
        <li th:classappend="${header_id == 'BLOG'}?'activeitem'"><a data-gatag="header_blog" href="/blog"
        th:href="'/'+${locale_path}+'blog'" th:text="#{top_blog}">Blog</a></li>
        <li th:classappend="${header_id == 'HELP'}?'activeitem'"><a data-gatag="header_help" href="/help-online" th:href="'/'+${locale_path}+'help-online'" th:text="#{top_help}">Help</a></li>
        <li class="lang_switcher desktop-only">
          <div class="dropbtn" th:text="${#strings.isEmpty(locale_path)?'EN':#strings.substringBefore(locale_path,'/')}"></div>
          <div class="dropdown-content">
            <a href="/" class="" th:classappend="${locale_path == 'en/' || locale_path == ''}?'current'">English</a>
            <a href="/ru/" class="" th:classappend="${locale_path == 'ru/'}?'current'">Русский-Russian</a>
            <a href="/de/" class="" th:classappend="${locale_path == 'de/'}?'current'">Deutsch-German</a>
          </div>
        </li>
        <li class="mobile-only">
            <a data-gatag="header_downloads" href="/downloads" th:href="'/'+${locale_path}+'downloads'" th:text="#{top_downloads}">Downloads</a>
        </li>
      </ul>
      <div class="menu-hamburger"></div>
    </div>
  </div>

    <div class="api_header_holder" th:if="${header_id == 'API'}">
      <div class="header_img"></div>
      <div class="headertext" th:utext="${header_title}">API</div>
    </div>
    <div class="header-caption" th:if="${header_id != 'API'}">
        <div class="headertext" th:utext="${header_title}">Main</div>
        
        <div class="badges" th:if="${header_id == 'MAIN'}">
        <!-- https://play.google.com/intl/en_us/badges/images/generic/en-play-badge.png -->
          <a data-gatag="googleplay" href="https://play.google.com/store/apps/details?id=net.osmand.plus"><img alt="Get it on Google Play" src="/images/en-play-badge.png" /></a>
          <a data-gatag="amazon" href="http://www.amazon.com/gp/product/B00D0SEGMC/ref=mas_pm_OsmAnd-Maps-Navigation"><img alt="Get it on Amazon" src="/images/amazon-apps-store.png" /></a>
          <a data-gatag="ios" class="appstoretopbadge" href="https://itunes.apple.com/app/apple-store/id934850257?pt=2123532&amp;ct=WebSite&amp;mt=8"><img src="/images/app-store-badge.png"/></a>
          <a data-gatag="huawei" class="appstoretopbadge" href="https://appgallery.huawei.com/app/C101486545&amp;ct=WebSite&amp;mt=8"><img src="/images/huawei-app-gallery-badge.png"/></a>
        </div>
        <!-- 
       <div class="badges" th:if="${header_id == 'DVR'}">
          <a class="appstoretopbadge" href="http://itunes.apple.com/us/app/id963873905"><img src="/images/app-store-badge.png"></a>
        </div>
        -->
  </div>
  
</div>

<script>
  $('.menu-hamburger').on('click', function() {
    $('.maincontainer').toggleClass('menu-open');
    if ($(document).width() < 321) {
      $(this).toggleClass('in-menu');
    }
    if ($('.menu').hasClass('active')) {
      setTimeout(function() {
        $('.menu').removeClass('active')
      }, 500)
    } else {
      $('.menu').addClass('active');
    }
  });

  $(window).on('resize', function(){

    if (!$('.menu-hamburger').is(':visible')) {
      $('.menu').removeClass('active');
      $('.maincontainer').removeClass('menu-open');
    }

  });

  $('body').on('click', function() {
    if ($('.maincontainer').hasClass('menu-open')) {
      $('.menu-hamburger').click();
    }
  });

  $('.menu-hamburger, .menu').on('click', function(e) {
    e.stopPropagation();
  });
  
  $('.download-btn').on('click', function(e) {
    e.stopPropagation();
  });
</script>

<script  type="text/javascript">
  function toggle_lang(){
    langs_down = document.getElementsByClassName('dropdown-content');
    langs_down_showed = document.getElementsByClassName('dropbtn');
    for (i = 0; i < langs_down.length; ++i) {
      langs_down[i].classList.toggle("show_dropdown");
    }
    for (i = 0; i < langs_down_showed.length; ++i) {
      langs_down_showed[i].classList.toggle("showed_dropdown");
    }
  }
  drop_langs = document.getElementsByClassName('dropbtn');
  for (i = 0; i < drop_langs.length; ++i) {
    drop_langs[i].onclick = function() {toggle_lang()};
  }
</script>
</div>
