   div {border-width: 1px; padding: 10px;
   		border: groove; margin-left:auto;margin-right:auto; width:480pt}
   h3.help { text-align: center}
   h4.help { text-align: center}
   li.help { text-align:justify}
   img.help { width:auto; height:auto; max-width: 50%;}
   p.img {text-align: center}

