 <div class="features">
    <div class="featurestitle">
      <h2>RECURSOS DO APLICATIVO</h2>
      <p>Visualização de mapas móveis globais e navegação para mapas OSM on-line e off-line</p>
    </div>
    <div class="featurescontainer">
      <div class="featureblock">  
        <div class="featureblocktitle feature-nav"> 
          <h2>Navegação</h2>
        </div>
        <ul class="categorydescription">
          <li>Funciona totalmente offline (sem tarifas de roaming quando você está no exterior) </li>
          <li>Orientação por voz curva a curva (vozes gravadas e sintetizadas) </li>
          <li>Anuncie avisos de trânsito como sinais de parada, travessias de pedestres ou quando exceder o limite de velocidade </li>   
          <li>Orientação de faixa opcional, exibição do nome da rua e hora estimada de chegada</li>
          <li>Suporta pontos intermediários no seu itinerário</li>
          <li>Reencaminhamento automático sempre que se desviar do trajecto</li>
          <li>Pesquise locais por endereço, por tipo (por exemplo: restaurante, hotel, posto de gasolina, museu) ou por coordenadas geográficas</li>
        </ul>
      </div>
    
      <div class="featureblock">  
        <div class="featureblocktitle feature-map"> 
          <h2>Visualização do mapa</h2>
        </div>
        <ul class="categorydescription">
          <li>Carregue mapas altamente detalhados e totalmente off-line de qualquer região do mundo no seu dispositivo!</li>
          <li>Mostre sua posição e orientação no mapa</li>
          <li>Opcionalmente, alinhe o mapa de acordo com a bússola ou a sua direção do movimento </li>
          <li>Salve seus lugares mais importantes como Favoritos</li>
          <li>Exibir POIs (pontos de interesse) ao seu redor</li>
          <li>Também pode exibir mapas de blocos online especializados</li>
          <li>Também pode exibir a visualização de satélite (do Bing)</li>
          <li>Pode exibir sobreposições diferentes, como faixas GPX de turismo/navegação e mapas adicionais com transparência personalizável</li>
          <li>Opcionalmente, exiba nomes de lugares em ortografia em inglês, local ou fonética</li>
        </ul>
      </div>    
    
      <div class="featureblock">  
        <div class="featureblocktitle feature-bike"> 
          <h2>Características de bicicleta e pedestres</h2>
        </div>
        <ul class="categorydescription">
          <li>Os mapas off-line incluem pé, caminhadas e ciclovias, ótimo para atividades ao ar livre</li>
          <li>Visualização do mapa e modo de navegação para bicicleta e pedestre</li>
          <li>Opcionalmente, exibir os pontos de transporte público (ônibus, bonde, trem), incluindo os nomes das linhas</li>
          <li>Gravação de viagem opcional para arquivo GPX local ou serviço online</li>
          <li>Exibição opcional de velocidade e altitude</li>
          <li>Exibição de linhas de contorno e sombreamento de colina (via plugin adicional)</li>    
        </ul>
      </div>
    
      <div class="featureblock">  
        <div class="featureblocktitle feature-opensource">
          <h2>Código aberto <span class="subheader">Dados da OpenStreetMap e Wikipédia</span></h2>
        </div>
        <ul class="categorydescription">
          <li>Informações de alta qualidade dos dois melhores projetos de colaboração do mundo</li>
          <li>Mapas globais do OpenStreetMap, disponíveis por país ou região</li>
          <li>POIs da Wikipédia, ótimos para passear (não disponível na versão gratuita)</li>
          <li>Downloads de mapas gratuitos ilimitados, diretamente do aplicativo (limite de download de 7 arquivos de mapa na versão gratuita)</li>
          <li>Mapas sempre atualizados (atualizados pelo menos uma vez por mês)</li>
          <li>OsmAnd Live - atualizações de mapa por hora e todos os recursos disponíveis (disponíveis por assinatura)</li> 
          <li>Compact offline vector maps</li>  
          <li>Selecione entre os dados completos do mapa e apenas a rede rodoviária (Exemplo: todo o Japão tem 700 MB ou apenas 200 MB para a rede viária)</li>            
          <li>Também suporta mapas de blocos online ou em cache</li>
        </ul>
      </div>
    
    </div>
  </div>

  <div class="screenshots">  
    <div class="slider">
      <div class="sliderheader">
        <h2>Captura de tela</h2>
        <div class="switch">
          <div class="button active" data-gatag="android_button">Android</div>
          <div class="button" data-gatag="ios_button">iOS</div>
        </div>
      </div>
      <div class="images android">
        <img class="screenshot android" src="/images/promo-1s.png"/>
        <img class="screenshot android" src="/images/promo-2s.png"/>
        <img class="screenshot android" src="/images/promo-3s.png"/>
        <img class="screenshot android" src="/images/promo-4s.png"/>
        <img class="screenshot android" src="/images/promo-5s.png"/>
        <img class="screenshot android" src="/images/promo-6s.png"/>
        <img class="screenshot android" src="/images/promo-7s.png"/>
        <img class="screenshot android" src="/images/promo-8s.png"/>
        <img class="screenshot android" src="/images/promo-9s.png"/>
        <img class="screenshot android" src="/images/promo-10s.png"/>
        <img class="screenshot android" src="/images/promo-11s.png"/>
        <img class="screenshot android" src="/images/promo-12s.png"/>
      </div>
      <div class="images ios">
        <img class="screenshot ios" src="/images/ios-1s.png"/>
        <img class="screenshot ios" src="/images/ios-2s.png"/>
        <img class="screenshot ios" src="/images/ios-3s.png"/>
        <img class="screenshot ios" src="/images/ios-4s.png"/>
        <img class="screenshot ios" src="/images/ios-5s.png"/>
      </div>
    </div>  
    <div class="screenshot-preview-holder"></div>
  </div>

  <div class="whatyousay">
    <div class="whatyousaycontainer">     
      <h2>O que você diz</h2>
      <div class="whatyousayblock">
        <div class="whatyousaymessage">
          <span>"Eu uso o openstreetmap e osmandapp para caminhadas. O novo editor de mapas do iD é fácil, por isso adicionei alguns percursos locais em falta."</span>
        </div>
        <div class="signature">
          <div class="name">Iain Cheyne</div>
          <div class="source">twitter: @Icheyne</div>
        </div>
      </div>          
      
      <div class="whatyousayblock ">
        <div class="whatyousaymessage">
          <span>"Me salvou várias vezes, eu não teria sobrevivido às Filipinas sem isso!"</span>
        </div>
        <div class="signature">
          <div class="name">Michelle Ann Levine</div>
          <div class="source">Google Play</div>
        </div>
      </div>
      
      <div class="whatyousayblock">
        <div class="whatyousaymessage">
          <span>"Instalado por um capricho durante uma viagem de bicicleta: Fiquei muito impressionado com a quantidade de detalhes!"</span>
        </div>
        <div class="signature">
          <div class="name">Fran&#231;ois-Xavier Thomas</div>
          <div class="source">Google Play</div>
        </div>
      </div>

      <div class="whatyousayblock">
        <div class="whatyousaymessage">
          <span>"Encontrado osmandapp :) planejamento de viagem é incrível."</span>
        </div>
        <div class="signature">
          <div class="name">Joanne Donn</div>
          <div class="source">twitter: @GearChic</div>
        </div>
      </div>
      
      <div class="whatyousayblock">
        <div class="whatyousaymessage">
          <span>"Sempre que viajo, sempre uso. Muito útil."</span>
        </div>
        <div class="signature">
          <div class="name">Sonny Lacanlale</div>
          <div class="source">Google Play</div>
        </div>
      </div>
      
      <div class="whatyousayblock">
        <div class="whatyousaymessage">
          <span>"Ótimo aplicativo de navegação com mapas off-line do OpenStreetMap, por exemplo, faixa de navegação de faixa durante a condução, a interface do usuário é um pouco difícil de navegar, mas é um aplicativo obrigatório para férias no exterior."</span>
        </div>
        <div class="signature">
          <div class="name">Jan Igerud</div>
          <div class="source">Google Play</div>
        </div>
      </div>

      <div class="badgescontainer">
        <div class="badges">
          <a data-gatag="googleplay" href="https://play.google.com/store/apps/details?id=net.osmand&amp;referrer=utm_source%3Dwebsite%26utm_medium%3Dtop"><img alt="Obtê-lo na Google Play" src="/images/en-play-badge.png" /></a>
          <a data-gatag="amazon" href="http://www.amazon.com/gp/product/B00D0SEGMC/ref=mas_pm_OsmAnd-Maps-Navigation"><img alt="Obtê-lo na Amazon" src="/images/amazon-apps-store.png" /></a>
          <a data-gatag="ios" class="appstoretopbadge" href="https://itunes.apple.com/app/apple-store/id934850257?pt=2123532&amp;ct=WebSite&amp;mt=8"><img src="/images/app-store-badge.png"/></a>
        </div>
      </div>
    </div>
  </div>

  <div class="mapexample">
    <div class="mapexampleheader">  
      <h2>Exemplo de mapa</h2>
    </div>
    <div class="mapcontainer">
      <div class="selectbox">
        <div class="selecttitle first">MAP STYLE</div>
        <ul class="theme-selector">
          <li>
            <label class="active"><input data-gatag="osmand" type="radio" name="style" value="default" checked="true" />OsmAnd</label>
          </li>
          <li>
            <label><input data-gatag="osmand_night" type="radio" name="style" value="night"/>OsmAnd - noite</label>
          </li>      
        </ul>
        <div class="selecttitle">SHOW</div>
        <ul class="map-selector">
          <li>
            <label><input data-gatag="city_map" type="radio" name="show" value="citymap" checked="true"/>Mapa da cidade</label>
          </li>
          <li>
            <label><input data-gatag="cycling_routes" type="radio" name="show" value="cycling"/>Rotas de ciclismo</label>
          </li>
          <li>
            <label><input data-gatag="detailed_map" type="radio" name="show" value="detailedmap"/>Mapa detalhado</label>
          </li>
          <li>
            <label><input data-gatag="hiking" type="radio" name="show" value="hiking"/>Caminhada</label>
          </li>
          <li>
            <label><input data-gatag="public_transport" type="radio" name="show" value="subway" />Transporte público</label>
          </li>
          <li>
            <label><input data-gatag="road_surface" type="radio" name="show" value="roadsurface"/>Superfície da estrada</label>
          </li>
          <li>
            <label><input data-gatag="nautical_sea" type="radio" name="show" value="nauticalsea"/>Náutico - mar</label>
          </li>
          <li>
            <label><input data-gatag="nautical_canals" type="radio" name="show" value="nauticalcanals"/>Náutico - canais</label>
          </li>
        </ul>
      </div>
    </div>
  </div>


  
  <div class="giveawayheader">
    <div class="subtitle" id="osmand_giveaway"><h2>Presentes do OsmAnd</h2></div>
  </div>
  <div class="giveaway">
    <div class="giveaway-message">
      <div class="giveaway-content">
          <p>Sabemos que nem todo mundo é capaz de comprar o OsmAnd no Google Play/Amazon Store devido a vários motivos, mas muitos de vocês ainda gostariam de apoiar o aplicativo usando-o e espalhando-o pelo mundo. 
          <br>
          <br>Estamos orgulhosos da nossa comunidade, por isso decidimos dar licenças OsmAnd como parte de um pequeno jogo divertido. </p>
          <a href="https://osmand.net/giveaway">Read more</a>
      </div>
      <div class="giveaway-form">
        <form role="form" action="subscription/register_email" method="post" id="register_email">
          <div class="giveaway-form-subtitle first-subtitle">Estou usando o OsmAnd no:</div>
          <div class="giveaway-form-devices">
            <div class="giveaway-form-device">
              <label><input type="radio" id="giveaway-android" name="os" value="android"/>Android</label>
            </div>
            <div class="giveaway-form-device">
              <label><input type="radio" id="giveaway-android" name="os" value="ios"/>iOS</label>
            </div>
          </div>
          <div class="giveaway-form-subtitle">Digite seu endereço de e-mail para participar:</div>
          <div class="giveaway-form-user">
            <input type="text" class="giveaway-email" id="email" name="email">
            <button type="submit" id="register_giveaway" class="giveaway-submit giveaway-submit-disabled" disabled>Inscrever</button>
          </div>
        </form>
        <div id="register_giveaway_failed" style="display:none">Registro falhou :(</div>
        <div id="register_giveaway_success" style="display:none">Obrigado pela sua  inscrição :)</div>
      </div>

    </div>
    <div class="giveaway-picture">
      </div> 
  </div>