 <div class="features">
    <div class="featurestitle">
      <h2>APP-EIGENSCHAFTEN</h2>
      <p>Globale mobile Kartenansicht und -navigation für Online- und Offline-OSM-Karten</p>
    </div>
    <div class="featurescontainer">
      <div class="featureblock">  
        <div class="featureblocktitle feature-nav"> 
          <h2>Navigation</h2>
        </div>
        <ul class="categorydescription">
          <li>Funktioniert vollständig offline (keine Roaming-Gebühren im Ausland)</li>
          <li>Turn-by-Turn-Sprachführung (aufgenommene und synthetisierte Stimmen)</li>
          <li>Informiert Sie über Verkehrswarnungen wie Stoppschilder, Fußgängerüberwege oder wenn Sie das Tempolimit überschreiten</li> 
          <li>Optionale Spurführung, Straßennamenanzeige und voraussichtliche Ankunftszeit</li>
          <li>Unterstützt Zwischenpunkte auf Ihrer Reiseroute</li>
          <li>Automatische Umleitung, wenn Sie von der Route abweichen</li>
          <li>Suche nach Orten nach Adresse, Typ (z. B. Restaurant, Hotel, Tankstelle, Museum) oder nach geographischen Koordinaten</li>
        </ul>
      </div>
    
      <div class="featureblock">  
        <div class="featureblocktitle feature-map"> 
          <h2>Kartenansicht</h2>
        </div>
        <ul class="categorydescription">
          <li>Tragen Sie auf Ihrem Gerät sehr detaillierte, vollständig Offline-Karten jeder Region weltweit!</li>
          <li>Zeigen Sie Ihre Position und Ausrichtung auf der Karte an</li>
          <li>Richten Sie die Karte optional nach Kompass oder Bewegungsrichtung aus</li>
          <li>Speichern Sie Ihre wichtigsten Orte als Favoriten</li>
          <li>Zeigen Sie POIs (Points of Interest) in Ihrer Nähe an</li>
          <li>Zeigen Sie auch spezielle Online-Kachelkarten an</li>
          <li>Zeigen Sie auch die Satellitenansicht an (von Bing)</li>
          <li>Fügen Sie verschiedene Überlagerungen wie Touren- / Navigations-GPX-Tracks und zusätzliche Karten mit anpassbarer Transparenz hinzu</li>
          <li>Zeigen Sie Ortsnamen in englischer, lokaler oder phonetischer Schreibweise an</li>
        </ul>
      </div>    
    
      <div class="featureblock">  
        <div class="featureblocktitle feature-bike"> 
          <h2>Fahrrad- und Fußgängerfunktionen</h2>
        </div>
        <ul class="categorydescription">
          <li>Die Offline-Karten umfassen Fuß-, Wander- und Radwege, die sich hervorragend für Outdoor-Aktivitäten eignen</li>
          <li>Kartendarstellung und Navigationsmodus für Fahrrad und Fußgänger</li>
          <li>Optional können Sie Haltestellen der öffentlichen Verkehrsmittel (Bus, Straßenbahn, Zug) einschließlich Liniennamen anzeigen</li>
          <li>Optionale Reiseaufnahme in lokale GPX-Datei oder Online-Dienst</li>
          <li>Optionale Geschwindigkeits- und Höhenanzeige</li>
          <li>Anzeige von Höhenlinien und Schattierungen (über zusätzliche Erweiterung)</li>    
        </ul>
      </div>
    
      <div class="featureblock">  
        <div class="featureblocktitle feature-opensource">
          <h2>Open Source <span class="subheader">OpenStreetMap &amp; Wikipedia Daten</span></h2>
        </div>
        <ul class="categorydescription">
          <li>Hochwertige Informationen aus den 2 besten kollaborativen Projekten der Welt</li>
          <li>Globale Karten von OpenStreetMap, verfügbar pro Land oder Region</li>
          <li>Wikipedia-POIs, ideal für Sightseeing (in der kostenlosen Version nicht verfügbar)</li>
          <li>Unbegrenzte kostenlose Kartendownloads direkt aus der App (Download-Limit von 7 Kartendateien in der kostenlosen Version)</li>
          <li>Immer aktuelle Karten (mindestens einmal pro Monat aktualisiert)</li>
          <li>OsmAnd Live - stündliche Kartenaktualisierungen und alle verfügbaren Funktionen (als Abonnement erhältlich)</li> 
          <li>Kompakte Offline-Vektorkarten</li>  
          <li>Wählen Sie zwischen vollständigen Kartendaten und nur Straßennetz (Beispiel: Ganz Japan ist 700 MB und 200 MB nur für das Straßennetz.)</li>            
          <li>Unterstützt auch Online- oder zwischengespeicherte Kachelkarten</li>
        </ul>
      </div>
    
    </div>
  </div>

  <div class="screenshots">  
    <div class="slider">
      <div class="sliderheader">
        <h2>Screenshots</h2>
        <div class="switch">
          <div class="button active" data-gatag="android_button">Android</div>
          <div class="button" data-gatag="ios_button">iOS</div>
        </div>
      </div>
      <div class="images android">
        <img class="screenshot android" src="/images/promo-1s.png"/>
        <img class="screenshot android" src="/images/promo-2s.png"/>
        <img class="screenshot android" src="/images/promo-3s.png"/>
        <img class="screenshot android" src="/images/promo-4s.png"/>
        <img class="screenshot android" src="/images/promo-5s.png"/>
        <img class="screenshot android" src="/images/promo-6s.png"/>
        <img class="screenshot android" src="/images/promo-7s.png"/>
        <img class="screenshot android" src="/images/promo-8s.png"/>
        <img class="screenshot android" src="/images/promo-9s.png"/>
        <img class="screenshot android" src="/images/promo-10s.png"/>
        <img class="screenshot android" src="/images/promo-11s.png"/>
        <img class="screenshot android" src="/images/promo-12s.png"/>
      </div>
      <div class="images ios">
        <img class="screenshot ios" src="/images/ios-1s.png"/>
        <img class="screenshot ios" src="/images/ios-2s.png"/>
        <img class="screenshot ios" src="/images/ios-3s.png"/>
        <img class="screenshot ios" src="/images/ios-4s.png"/>
        <img class="screenshot ios" src="/images/ios-5s.png"/>
      </div>
    </div>  
    <div class="screenshot-preview-holder"></div>
  </div>

  <div class="whatyousay">
    <div class="whatyousaycontainer">     
      <h2>Was Sie sagen</h2>
      <div class="whatyousayblock">
        <div class="whatyousaymessage">
          <span>"I use openstreetmap &amp; osmandapp for hiking. Their new iD map editor is easy, so I added a few missing local footpaths."</span>
        </div>
        <div class="signature">
          <div class="name">Iain Cheyne</div>
          <div class="source">twitter: @Icheyne</div>
        </div>
      </div>          
      
      <div class="whatyousayblock ">
        <div class="whatyousaymessage">
          <span>"Saved me numerous times, I would not have survived the Philippines without it!"</span>
        </div>
        <div class="signature">
          <div class="name">Michelle Ann Levine</div>
          <div class="source">Google Play</div>
        </div>
      </div>
      
      <div class="whatyousayblock">
        <div class="whatyousaymessage">
          <span>"Installed on a whim while on a cycling trip : I was very impressed by the amount of detail!"</span>
        </div>
        <div class="signature">
          <div class="name">Fran&#231;ois-Xavier Thomas</div>
          <div class="source">Google Play</div>
        </div>
      </div>

      <div class="whatyousayblock">
        <div class="whatyousaymessage">
          <span>"Found osmandapp :) trip planning is incredible."</span>
        </div>
        <div class="signature">
          <div class="name">Joanne Donn</div>
          <div class="source">twitter: @GearChic</div>
        </div>
      </div>
      
      <div class="whatyousayblock">
        <div class="whatyousaymessage">
          <span>"Whenever I travel I always use it. Very useful."</span>
        </div>
        <div class="signature">
          <div class="name">Sonny Lacanlale</div>
          <div class="source">Google Play</div>
        </div>
      </div>
      
      <div class="whatyousayblock">
        <div class="whatyousaymessage">
          <span>"Great navigation app with offline maps from OpenStreetMap with e.g. lane by lane navigation while driving, the UI is a bit difficult to navigate but it's a must app for vacation abroad."</span>
        </div>
        <div class="signature">
          <div class="name">Jan Igerud</div>
          <div class="source">Google Play</div>
        </div>
      </div>

      <div class="badgescontainer">
        <div class="badges">
          <a data-gatag="googleplay" href="https://play.google.com/store/apps/details?id=net.osmand&amp;referrer=utm_source%3Dwebsite%26utm_medium%3Dtop"><img alt="Get it on Google Play" src="/images/en-play-badge.png" /></a>
          <a data-gatag="amazon" href="http://www.amazon.com/gp/product/B00D0SEGMC/ref=mas_pm_OsmAnd-Maps-Navigation"><img alt="Get it on Amazon" src="/images/amazon-apps-store.png" /></a>
          <a data-gatag="ios" class="appstoretopbadge" href="https://itunes.apple.com/app/apple-store/id934850257?pt=2123532&amp;ct=WebSite&amp;mt=8"><img src="/images/app-store-badge.png"/></a>
        </div>
      </div>
    </div>
  </div>

  <div class="mapexample">
    <div class="mapexampleheader">  
      <h2>Kartenbeispiel</h2>
    </div>
    <div class="mapcontainer">
      <div class="selectbox">
        <div class="selecttitle first">KARTENSTILE</div>
        <ul class="theme-selector">
          <li>
            <label class="active"><input data-gatag="osmand" type="radio" name="style" value="default" checked="true" />OsmAnd</label>
          </li>
          <li>
            <label><input data-gatag="osmand_night" type="radio" name="style" value="night"/>OsmAnd - Nacht</label>
          </li>      
        </ul>
        <div class="selecttitle">ANZEIGEN</div>
        <ul class="map-selector">
          <li>
            <label><input data-gatag="city_map" type="radio" name="show" value="citymap" checked="true"/>Stadtkarte</label>
          </li>
          <li>
            <label><input data-gatag="cycling_routes" type="radio" name="show" value="cycling"/>Fahrradrouten</label>
          </li>
          <li>
            <label><input data-gatag="detailed_map" type="radio" name="show" value="detailedmap"/>Detaillierte Karte</label>
          </li>
          <li>
            <label><input data-gatag="hiking" type="radio" name="show" value="hiking"/>Wandern</label>
          </li>
          <li>
            <label><input data-gatag="public_transport" type="radio" name="show" value="subway" />Öffentliche Verkehrsmittel</label>
          </li>
          <li>
            <label><input data-gatag="road_surface" type="radio" name="show" value="roadsurface"/>Straßenbelag</label>
          </li>
          <li>
            <label><input data-gatag="nautical_sea" type="radio" name="show" value="nauticalsea"/>Nautik - Meer</label>
          </li>
          <li>
            <label><input data-gatag="nautical_canals" type="radio" name="show" value="nauticalcanals"/>Nautik - Kanäle</label>
          </li>
        </ul>
      </div>
    </div>
  </div>


  
  <div class="giveawayheader">
    <div class="subtitle" id="osmand_giveaway"><h2>OsmAnd Giveaway</h2></div>
  </div>
  <div class="giveaway">
    <div class="giveaway-message">
      <div class="giveaway-content">
          <p>Wir wissen, dass nicht jeder OsmAnd aus verschiedenen Gründen in Google Play / Amazon Store erwerben kann. Viele von Ihnen möchten die Anwendung trotzdem unterstützen, indem Sie sie verwenden und auf der ganzen Welt verbreiten. 
          <br>
          <br>Wir sind stolz auf unsere Community und haben uns entschlossen, OsmAnd-Lizenzen als Teil eines kleinen unterhaltsamen Spiels zu vergeben. </p>
          <a href="https://osmand.net/giveaway">Weiterlesen</a>
      </div>
      <div class="giveaway-form">
        <form role="form" action="subscription/register_email" method="post" id="register_email">
          <div class="giveaway-form-subtitle first-subtitle">Ich benutze OsmAnd auf:</div>
          <div class="giveaway-form-devices">
            <div class="giveaway-form-device">
              <label><input type="radio" id="giveaway-android" name="os" value="android"/>Android</label>
            </div>
            <div class="giveaway-form-device">
              <label><input type="radio" id="giveaway-android" name="os" value="ios"/>iOS</label>
            </div>
          </div>
          <div class="giveaway-form-subtitle">Geben Sie Ihre E-Mail-Adresse ein, um teilzunehmen:</div>
          <div class="giveaway-form-user">
            <input type="text" class="giveaway-email" id="email" name="email">
            <button type="submit" id="register_giveaway" class="giveaway-submit giveaway-submit-disabled" disabled>Abonnieren</button>
          </div>
        </form>
        <div id="register_giveaway_failed" style="display:none">Die Registrierung ist fehlgeschlagen :(</div>
        <div id="register_giveaway_success" style="display:none">Vielen Dank für die Registrierung :)</div>
      </div>

    </div>
    <div class="giveaway-picture">
      </div> 
  </div>
