<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Info</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
	<h1>Web configuration info:</h1>
	<p>Server version: <span th:text="${server_commit}"></span></p>
	<p>Web version: <span th:text="${web_commit}"></span></p>
	<p>Server started: <span th:text="${server_startup}"><span></p>
	<p>Web updated: <b><span th:text="${update_status}+'.'"></span></b> <span th:text="${update_message} "></span> <span th:text="${update_errors}"></span></p>
	<div class="reload">
    	<form action="/admin/publish" method="post">
    		<input type="submit" value="Refresh web configuration from https://github.com/osmandapp/osmandapp.github.io"  />
    		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		</form>
	</div>


	<h1>Settings message of the day (promo):</h1>
	<span>You can change it by modifying json file at <a href="https://github.com/osmandapp/osmandapp.github.io/blob/master/website/api/messages/motd_config.json">Github</a> and don't forget to click button reload configuration. The documentation of configuration is present at <a href="https://github.com/osmandapp/osmandapp.github.io/blob/master/website/api/messages/Readme.md">Readme</a></span>
	<table border="1">
		<tr>
			<th>Active</th>
			<th>File</th>
			<th>Filter</th>
			<th>Messages</th>
		</tr>
        <tr th:each="di : ${motdSettings.getDiscountSettings()}">
        	<td th:text="${di.discountCondition.checkActiveDate(new java.util.Date()) ? 'yes' : 'no'}"></td>
        	<td><a  th:text="${di.file}" th:href="'https://github.com/osmandapp/osmandapp.github.io/blob/master/website/api/messages/' + ${di.file}"></a></td>
        	<td th:text="${di.discountCondition.getFilterCondition()}"></td>
        	<td th:text="${di.fields}"></td>
        </tr>
    </table>

	<h1>Download servers:</h1>
	<span>You can change it by modifying json file at <a href="https://github.com/osmandapp/osmandapp.github.io/blob/master/website/api/settings.json">Github</a> and don't forget to click button reload configuration.</span>
	<table border="1">
		<tr>
			<th>Name</th>
			<th>Maps+Wiki</th>
			<th>SRTM+Hillshade</th>
		</tr>
        <tr th:each="di : ${downloadServers}">
        	<td th:text="${di.name}"></td>
        	<td th:text="${di.mainLoad}"></td>
        	<td th:text="${di.srtmLoad}"></td>
        </tr>
    </table>


    <h1>Reports:</h1>
	<table border="1">
		<tr>
			<th>Name</th>
			<th>Update date</th>
		</tr>
        <tr th:each="di : ${reports}">
        	<td><a th:text="${di.name}" th:href="'/admin/report?file='+${di.fullname}" href="">Report name</td>
        	<td th:text="${di.date}">01.01.2018 00:00</td>
        </tr>
    </table>
	<h3>Audience surveys (polls):</h3>
	<span>You can change it by modifying json file at <a href="https://github.com/osmandapp/osmandapp.github.io/blob/master/website/api/poll.json">Github</a> and don't forget to click button reload configuration.</span>
	<table border="1">
		<tr>
			<th>Channel</th>
			<th>Publish date</th>
			<th>Id</th>
			<th>Title</th>
		</tr>
        <tr th:each="di : ${polls}">
        	<td th:text="${di.key}">website</td>
        	<td th:text="${di.value.pubdate}">01.01.2018</td>
        	<td th:text="${di.value.polldaddyid}"></td>
        	<td >
        		<a th:text="${di.value.title}" th:href="'https://app.crowdsignal.com/polls/'+${di.value.polldaddyid}+'/results'"></a></td>
        </tr>
    </table>


    <h3>Support survey:</h3>
	<table border="1">
		<tr>
			<th>Week</th>
			<th>Good</th>
			<th>Average</th>
			<th>Bad</th>
			<th>Count</th>
		</tr>
        <tr th:each="di : ${surveyReport}">
        	<td th:text="${di.date}">01.01.2018</td>
        	<td th:text="${di.goodCount}"></td>
        	<td th:text="${di.averageCount}"></td>
        	<td th:text="${di.badCount}"></td>
        	<td th:text="${di.badCount + di.goodCount + di.averageCount}">/td>
        </tr>
    </table>

	<h3>Email database:</h3>
	<span>You can use automated tool to send emails to the database <a href="https://builder.osmand.net:8080/view/WebSite/job/Website_SendMail/">Send Emails</a>.</span>
	<table border="1">
		<tr>
			<th>Category name</th>
			<th>Category id</th>
			<th>Total population</th>
			<th>Available for Marketing</th>
			<th>Available for OsmAnd Live</th>
			<th>Available for News</th>
		</tr>
        <tr th:each="di : ${emailsReport}">
        	<td th:text="${di.category}">1000/td>
        	<td th:text="${di.categoryId}">1000/td>
        	<td th:text="${di.totalCount}">1000/td>
        	<td th:text="${di.activeMarketing}">1000/td>
			<td th:text="${di.activeOsmAndLive}">1000/td>
        	<td th:text="${di.activeNews}">1000/td>
        </tr>
    </table>

 	<h3>Active Subscriptions:</h3>
	<table border="1">
		<tr>
			<th>Subscriptions</th>
			<th>Month</th>
		</tr>
        <tr th:each="di : ${subscriptionsReport}">
        	<td th:text="${di.count}">1000/td>
        	<td th:text="${di.date}">01.01.2018 00:00</td>
        </tr>
    </table>


 	<h3>New/Cancel Subscriptions:</h3>
	<table border="1">
		<tr>
			<th>Date</th>
			<th>New Month</th>
			<th>New Year</th>
			<th>+Total</th>
			<th>Cancel Month</th>
			<th>Cancel Year</th>
			<th>-Total</th>
		</tr>
        <tr th:each="di : ${newSubsReport}">
        	<td th:text="${di.date}">01.01.2018 00:00</td>
        	<td th:text="${di.monthCount}">1000/td>
        	<td th:text="${di.annualCount}">1000/td>
        	<td th:text="${di.totalCount}">1000/td>
        	<td th:text="${di.cancelMonthCount}">1000/td>
        	<td th:text="${di.cancelAnnualCount}">1000/td>
        	<td th:text="${di.cancelTotal}">1000/td>
        	
        </tr>
    </table>


</body>
</html>