<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>OsmAnd - Offline Mobile Maps and Navigation</title>
  <script th:replace="pub/fragments/default_links.html"></script>
  <script type="text/javascript" th:if="${(param.tr != null)}"  src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
  </script>
  <link rel="alternate" type="application/rss+xml" title="OsmAnd Blog" href="/rss.xml">
</head>
<body>

<div class="maincontainer">
  <div class="main">
    <div  th:replace= "pub/fragments/simple_header :: header('BLOG', ${#messages.msg('top_blog')} ) ">
    </div>
    <div class="articles">
      <div class="articlescontainer">

        <div class="article" th:include="@{'' + ${article_template}}">
        </div>
      
        <div class="article-menu-wrapper">
          <div class="modal-menu-button"></div>
          <div class="article-menu">
            <div class="acticlestitles">
              <h2 th:text="#{blog_latest_articles}">latest articles</h2>
              <ul class="articlelinklist" th:if="${(param.tr == null)}">
                 <li><a th:href="'/'+${locale_path} + 'blog'+'?tr=1'">Other languages</a></li>
                 <li th:each="art : ${articles}"><a th:href="'/'+${locale_path} + ${art.url}" th:text="${art.shortTitle}"></a></li>
                 <li><a  href="/blog/osmand_videos" >OsmAnd Videos</a></li>
                 <li><a  href="/rss.xml" >RSS</a></li>
              </ul>
              <ul class="articlelinklist" th:if="${(param.tr != null)}">
                 <li><div id="google_translate_element"></div><script type="text/javascript">
                    function googleTranslateElementInit() {
                    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
                }
                </script></li>
                <li th:each="art : ${articles}"><a th:href="'/'+${locale_path} + ${art.url} + '?tr=1'" th:text="${art.shortTitle}"></a></li>
                <li><a  href="/blog/osmand_videos" >OsmAnd Videos</a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="pub/fragments/footer"/>
</div>


<script>
  $('.modal-menu-button').on('click', function(e) {
    e.preventDefault();
    $(this).toggleClass('active');
    $('.article-menu').slideToggle();
  });

  $('body').on('click', function() {
    if ($('.modal-menu-button').hasClass('active')) {
      $('.modal-menu-button').toggleClass('active');
      $('.article-menu').slideToggle();
    }
  });

  $('.article-menu-wrapper').on('click', function(e) {
    e.stopPropagation();
  });

  $(window).on('resize', function() {
    if ($(document).width() > 900) {
      $('.article-menu').attr('style', false);
    }
  });
</script>
</body>

</html>
