<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>OsmAnd - Offline Mobile Maps and Navigation</title>
  <script th:replace="pub/fragments/default_links.html"></script>


  <script type="text/javascript" th:if="${translation}"  src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
  </script>
  <link rel="alternate" type="application/rss+xml" title="OsmAnd Blog" href="/rss.xml">
</head>
<body>

<div class="maincontainer">
  <div class="main">
    <div  th:replace= "pub/fragments/simple_header :: header('BLOG', ${#messages.msg('top_blog')} ) ">
    </div>
    <div class="articles">
      <div class="articlescontainer">

        <div class="article" th:include="@{'' + ${article_template}}">
        </div>
      
        <div class="article-menu-wrapper">
          <div class="modal-menu-button"></div>
          <div class="article-menu">
            <div class="acticlestitles">
              <h2 th:text="#{blog_latest_articles}">latest articles</h2>
              <ul class="articlelinklist">
                <li th:if="${!translation}"><a th:href="'/'+${locale_path}+ 'blog' +'?tr=1'">あA Translate</a></li>
                <li th:if="${translation}"><div id="google_translate_element"></div><script type="text/javascript">
                    function googleTranslateElementInit() {
                    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
                }
                </script></li>
                <li th:each="art : ${articles}"><a th:href="'/'+${locale_path} + ${art.url} + 
                  ${translation ? '?tr=1' : ''}" th:text="${art.shortTitle}"></a></li> 

                <li><a  href="/blog/osmand_videos" >OsmAnd Videos</a></li>
                <li><a  href="/rss.xml" >RSS</a></li>
              </ul>
              <h2>stories</h2>
              <ul class="articlelinklist">
                <li><a href="/blog/story-26">Riding with Jessica</a></li>
                <li><a href="/blog/story-25">Hiking by Olivier</a></li>
                <li><a href="/blog/story-24">Mikhail about his experience</a></li>
                <li><a href="/blog/story-23">Arseniy about his experience</a></li>
                <li><a href="/blog/story-22">Professional motorcycle adventure traveler</a></li>
                <li><a href="/blog/story-21">13,500 km from Brussels to Tokyo</a></li>
                <li><a href="/blog/story-20">Rogatka from Japan</a></li>
                <li><a href="/blog/story-19">Bart and his story</a></li>
                <li><a href="/blog/story-18">Story from Arabia</a></li>
                <li><a href="/blog/story-17">Enric and his traveling experience</a></li>
                <li><a href="/blog/story-16">Remo and his 4x4 travels. Part 2</a></li>
                <li><a href="/blog/story-15">Car Trophy with OsmAnd</a></li>
                <li><a href="/blog/story-14">Pieter with OsmAnd from 2011</a></li>
                <li><a href="/blog/story-13">Bike Trophy with OsmAnd</a></li>
                <li><a href="/blog/story-12">The Trophy from Paris to Beijing</a></li>
                <li><a href="/blog/story-11">Kuba from Poland</a></li>
                <li><a href="/blog/story-10">Brunaud and Randovelo</a></li>
                <li><a href="/blog/story-9">Filip and his story</a></li>
                <li><a href="/blog/story-8">Helen and her story</a></li>
                <li><a href="/blog/story-7">Andreas and his story</a></li>
                <li><a href="/blog/story-6">Adrian and mototoursJapan</a></li>
                <li><a href="/blog/story-5">Yurik RZR offroad</a></li>
                <li><a href="/blog/story-4">Remo 4x4</a></li>
                <li><a href="/blog/story-3">Leonid travels</a></li>
                <li><a href="/blog/story-2">Paul and cycling</a></li>
                <li><a href="/blog/story-1">Ilya offroad</a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="pub/fragments/footer"/>
</div>


<script>
  $('.modal-menu-button').on('click', function(e) {
    e.preventDefault();
    $(this).toggleClass('active');
    $('.article-menu').slideToggle();
  });

  $('body').on('click', function() {
    if ($('.modal-menu-button').hasClass('active')) {
      $('.modal-menu-button').toggleClass('active');
      $('.article-menu').slideToggle();
    }
  });

  $('.article-menu-wrapper').on('click', function(e) {
    e.stopPropagation();
  });

  $(window).on('resize', function() {
    if ($(document).width() > 900) {
      $('.article-menu').attr('style', false);
    }
  });
</script>
</body>

</html>
