<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title th:text="#{top_title}">OsmAnd - Offline Mobile Maps and Navigation</title>
  <script th:replace="pub/fragments/default_links"></script>

  <script type="text/javascript" th:if="${translation}"  src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
  </script>


</head>
<body>
  
<div class="maincontainer">
  <div class="main" >
    <div th:replace="pub/fragments/simple_header :: header('FEATURES', ${#messages.msg('top_features')}  ) " />
    <div class="articles">
      <div class="articlescontainer">
      
        <div class="article" th:include="@{'' + ${article_template}}">
        </div>


        <div class="article-menu-wrapper">
          <div class="modal-menu-button"></div>
          <div class="article-menu">
            <div class="acticlestitles"> 
              <h2  th:text="#{top_features}">features</h2>
              <ul class="articlelinklist">


         
              <!-- 1. Uncomment to enable link that enables Google translate iframe -->
              
                <li th:if="${!translation}"><a th:href="'/'+${locale_path}+ 'features' +'?tr=1'">あA Translate</a></li>
                <li th:if="${translation}"><div id="google_translate_element"></div><script type="text/javascript">
                    function googleTranslateElementInit() {
                    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
                }
                </script></li>              

              <!--  2. Disable plain google translate on the page to avoid Google iframe -->
              <!-- 
                <li><div id="google_translate_element"></div><script type="text/javascript">
                    function googleTranslateElementInit() {
                    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
                }
                </script>
                <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script></li> 
              -->
                <li><a data-gatag='start' th:href="'/'+${locale_path} +'features/start'" th:text="#{feature_begin}">Begin with OsmAnd</a></li>
                <li><a data-gatag='troubleshooting' th:href="'/'+${locale_path} +'features/installation-and-troubleshooting'" th:text="#{feature_install}">Installation &amp; troubleshoooting</a></li>
                <li><a data-gatag='map-viewing' th:href="'/'+${locale_path} +'features/map-viewing'"th:text="#{feature_map_viewing}">Map Viewing</a></li>
                <li><a data-gatag='search-on-map' th:href="'/'+${locale_path} +'features/find-something-on-map'" th:text="#{feature_search}">Search on the map</a></li>
                <li><a data-gatag='trip-planning' th:href="'/'+${locale_path} +'features/trip-planning'" th:text="#{feature_planning}">Planning trip</a></li>
                <li><a data-gatag='navigation' th:href="'/'+${locale_path} +'features/navigation'" th:text="#{feature_navigation}">Navigation</a></li>
                <li><a data-gatag='profiles' th:href="'/'+${locale_path} +'features/navigation-profiles'" th:text="#{feature_profiles}">Navigation Profiles</a></li>
                <li><a data-gatag='osmand_purchases' th:href="'/'+${locale_path} +'features/osmand_purchases'" th:text="#{feature_purchases}">OsmAnd Purchases</a></li>
                <li><a data-gatag='osmand_subscription' th:href="'/'+${locale_path} +'features/subscription'" th:text="#{feature_subscription}">Subscription - OsmAnd Live</a></li>
                <li><a data-gatag='favourites' th:href="'/'+${locale_path} +'features/favourites'" th:text="#{feature_favourites}">Favourites</a></li>
                <li><a data-gatag='markers' th:href="'/'+${locale_path} +'features/map-markers'" th:text="#{feature_markers}">Map markers</a></li>
                <li><a data-gatag='feature_travel' th:href="'/'+${locale_path} +'features/travel'" th:text="#{feature_travel}">Travel</a></li> 

                 <li><a data-gatag='plan-route' th:href="'/'+${locale_path} +'features/plan-route'" th:text="#{feature_plan-route}">Plane a route</a></li>
                 
                <li><a data-gatag='feature_ruler' th:href="'/'+${locale_path} +'features/ruler'" th:text="#{feature_ruler}">Ruler</a></li>
                <li><a data-gatag='feature_quick-action' th:href="'/'+${locale_path} +'features/quick-action'" th:text="#{feature_quick-action}">Quick Action</a></li>
                <li><a data-gatag='feature_mapillary' th:href="'/'+${locale_path} +'features/mapillary'" th:text="#{feature_mapillary}">OsmAnd + Mapillary</a></li>       
                <li><a data-gatag='feature_tracker' th:href="'/'+${locale_path} +'features/tracker'" th:text="#{feature_tracker}">OsmAnd Tracker</a></li>
                </ul>
              <h2  th:text="#{top_plugins}">plugins</h2>
              <ul class="articlelinklist">
                <li><a data-gatag='audio-video-notes-plugin' th:href="'/'+${locale_path} +'features/audio-video-notes-plugin'" th:text="#{feature_av_notes}" >Audio/video notes</a></li>
                <li><a data-gatag='contour-lines-plugin' th:href="'/'+${locale_path} +'features/contour-lines-plugin'" th:text="#{feature_contour}">Contour lines and Terrain map</a></li>
               
                <li><a data-gatag='nautical_charts' th:href="'/'+${locale_path} +'features/nautical-charts'" th:text="#{feature_naoutical_charts}">Nautical charts</a></li>
                <li><a data-gatag='online-maps-plugin' th:href="'/'+${locale_path} +'features/online-maps-plugin'" th:text="#{feature_online}">Online maps</a></li>
                <li><a data-gatag='osm-editing-plugin' th:href="'/'+${locale_path} +'features/osm-editing-plugin'" th:text="#{feature_osm_editing}">OSM editing</a></li>
                <li><a data-gatag='development_plugin' th:href="'/'+${locale_path} +'features/development_plugin'" th:text="#{feature_dev}">OsmAnd development</a></li>
                <li><a data-gatag='parking-plugin' th:href="'/'+${locale_path} +'features/parking-plugin'" th:text="#{feature_parking}" >Parking place</a></li>
                <li><a data-gatag='ski-plugin' th:href="'/'+${locale_path} +'features/ski-plugin'" th:text="#{feature_ski_maps}" >Ski maps</a></li>
                <li><a data-gatag='trip-recording-plugin' th:href="'/'+${locale_path} +'features/trip-recording-plugin'" th:text="#{feature_trip_rcord}" >Trip recording</a></li>
                <li><a data-gatag='custom-package' th:href="'/'+${locale_path} +'features/custom-package'" th:text="#{feature_custom_package}" >Custom package</a></li>
              </ul>
              <h2>stories</h2>
              <ul class="articlelinklist">
                <li><a href="/blog/story-25">Hiking by Olivier</a></li>
                <li><a href="/blog/story-24">Mikhail about his experience</a></li>
                <li><a href="/blog/story-23">Arseniy about his experience</a></li>
                <li><a href="/blog/story-22">Professional motorcycle adventure traveler</a></li>
                <li><a href="/blog/story-21">13,500 km from Brussels to Tokyo</a></li>
                <li><a href="/blog/story-20">Rogatka from Japan</a></li>
                <li><a href="/blog/story-19">Bart and his story</a></li>
                <li><a href="/blog/story-18">Story from Arabia</a></li>
                <li><a href="/blog/story-17">Enric and his traveling experience</a></li>
                <li><a href="/blog/story-16">Remo and his 4x4 travels. Part 2</a></li>
                <li><a href="/blog/story-15">Car Trophy with OsmAnd</a></li>
                <li><a href="/blog/story-14">Pieter with OsmAnd from 2011</a></li>
                <li><a href="/blog/story-13">Bike Trophy with OsmAnd</a></li>
                <li><a href="/blog/story-12">The Trophy from Paris to Beijing</a></li>
                <li><a href="/blog/story-11">Kuba from Poland</a></li>
                <li><a href="/blog/story-10">Brunaud and Randovelo</a></li>
                <li><a href="/blog/story-9">Filip and his story</a></li>
                <li><a href="/blog/story-8">Helen and her story</a></li>
                <li><a href="/blog/story-7">Andreas and his story</a></li>
                <li><a href="/blog/story-6">Adrian and mototoursJapan</a></li>
                <li><a href="/blog/story-5">Yurik RZR offroad</a></li>
                <li><a href="/blog/story-4">Remo 4x4</a></li>
                <li><a href="/blog/story-3">Leonid travels</a></li>
                <li><a href="/blog/story-2">Paul and cycling</a></li>
                <li><a href="/blog/story-1">Ilya offroad</a></li>
              </ul>
            </div> <!-- acticlestitles -->
          </div> <!-- article-menu -->
        </div> <!-- article-menu-wrapper -->
      </div> <!-- articlescontainer -->
    </div> <!-- articles -->
    <div th:replace="pub/fragments/footer"/>
  </div>
</div>

<!-- for twitter-->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script>
  var equalHeight = function(container) {

    var currentTallest = 0,
        currentRowStart = 0,
        rowDivs = new Array(),
        $el,
        topPosition = 0;

    $(container).each(function() {

      $el = $(this);
      $($el).height('auto')
      topPostion = $el.position().top;

      if (currentRowStart != topPostion) {
        for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
          rowDivs[currentDiv].height(currentTallest);
        }
        rowDivs.length = 0; // empty the array
        currentRowStart = topPostion;
        currentTallest = $el.height();
        rowDivs.push($el);
      } else {
        rowDivs.push($el);
        currentTallest = (currentTallest < $el.height()) ? ($el.height()) : (currentTallest);
      }
      for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
        rowDivs[currentDiv].height(currentTallest);
      }
    });
  }

  $(window).on('resize', function() {
    if ($(window).width() > 800) {
      equalHeight($('.plugin, .subfeatureheader'));
    }
  });

  $(window).on('load', function() {
    if ($(window).width() > 800) {
      equalHeight($('.plugin, .subfeatureheader'));
    }
  });

  $('.modal-menu-button').on('click', function(e) {
    e.preventDefault();
    $(this).toggleClass('active');
    $('.article-menu').slideToggle();
  });

  $('body').on('click', function() {
    if ($('.modal-menu-button').hasClass('active')) {
      $('.modal-menu-button').toggleClass('active');
      $('.article-menu').slideToggle();
    }
  });

  $(window).on('resize', function() {
    if ($(document).width() > 900) {
      $('.article-menu').attr('style', false);
    }
  });

  $('.article-menu-wrapper').on('click', function(e) {
    e.stopPropagation();
  });
</script>
</body>
</html>
