<!DOCTYPE html>
<html>
<head>
  <title>OsmAnd Giveaway</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel='stylesheet' href="/css/site.css">
  <link rel='stylesheet' href="/css/report.css?v=2">
  <link rel='stylesheet' href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/images/favicons/manifest.json">
  <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/images/favicons/favicon.ico">
  <meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
<div class="maincontainer">
  <div class="main">
    <div th:replace="pub/fragments/simple_header :: header('GIVEAWAY', ${#messages.msg('top_give_away')} ) ">
    </div>
    <div class="container">

        <div class="loading"></div>
        <div id="donate">
          <h2 ><span th:text="#{giveaway_participants}">OsmAnd+ Giveaway</span> - <a href="#general-info" id="read_more">Read more</a></h2>
          <div >
            <div class="infobox" >
              <h2 id="general-info-participate" style="display:none"></h2>
            </div>
            <div id="general-info" class="infobox" style="display:none">
              <h2>About OsmAnd giveaway</h2>
              <p>We know that not everyone is able to purchase OsmAnd on Google Play / Amazon store due to various reasons, but many of you would still like to support the application by using it and spreading it around the world. We are proud of our community, so we have decided to give away OsmAnd licenses for free as a reward for your support. The number of promocodes we can provide is limited, so we will choose the winners based on the results of a small game that we have organized to make the whole process more entertaining.</p>
              <h3>How it works</h3>
              <li>Subscribe to our news letter by providing your email in the Downloads menu of the free OsmAnd version.
              <li>Once a month receive a notification by email to participate in a giveaway campaign.
              <li>For several days every hour 1 promocode is randomly distributed among participants.
              <li>The algorithm runs every hour and picks latest <a href="https://blockchair.com/">Bitcoin Block hash</a> as a random seed. Bitcoin block hash number is divided by number of participants and the remainder is claimed as a winner.
              <li>All numbers are published here, so everybody can verify process transparency.
              <li>You need to subscribe every month in case you want to participate in the giveaway.
              <li>If you like this idea, please feel free to share it with your social connections :)
              <br>
              <br>
            </div>
          </div>
            <div class="report-period-group period">
              <div class="report-group period">
                <h4 class="vlabel" for="giveaway-series-selection" th:text="#{osmlive_period}">Report period</h4>
                <div class="styled-select">
                  <select class="form-control osm-live-series-select" id="giveaway-series-selection"></select>
                </div>
              </div>
              <div class="report-group round">
              <h4 class="vlabel" for="giveaway-round-selection">Round</h4>
              <div class="styled-select">
                <select class="form-control osm-live-series-select" id="giveaway-round-selection"></select>
              </div>
            </div>
            </div>
          <div class="report-total-div">
              <div class="overview-body">
              <p class='overview-hint' ><span>Overview for</span> <span id="overview-giveaway_options">
              </span><span id='overview-id' style="color:black;float:right;"></span></p>
              <div id="report-total" class="infobox"></div>
              </div>
          </div>
          
          <h4 class="vlabel" for="support-table" id="support-table-header">Giveaway participants</h4>
          <div class="table-controls support-controls">
            <div class="tc search">
              <input type="search" class="form-control" aria-control="support-table" id="giveaway-table-search" placeholder="Search">
            </div>
            <div class="tc entries">
              <label>
              <span>Show entries</span>
              <div class="styled-select">
                <select name="support-table_length" aria-controls="support-table" class="form-control" id="giveaway-table-select">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50" selected>50</option>
                  <option value="100">100</option>
                </select>
              </div>
              </label>
            </div>
          </div>
          <table id="support-table" class="table table-bordered" cellspacing="0" width="100%"></table>
        </div>
    </div>
    <div th:replace="pub/fragments/footer"></div>
  </div>
</div>
<script>
  var currentSeries = "";
  var defaultSeries = "";
  var reportDataTable;
  var giveawayData = undefined;

  var floatFormat = function (o) { 
      var fl = parseFloat(o) * 100;
      return Math.round(fl) / 100.;
  }
  
  function formatDate(timestampString) {
   var currTime = parseInt(timestampString, 10);
   var currTimeString = (new Date(currTime*1000)).toString();
   return currTimeString.substring(currTimeString.indexOf(" "), currTimeString.lastIndexOf(":"));
  }
  
  
  function ordinal_suffix_of(i) {
    var j = i % 10,
        k = i % 100;
    if (j == 1 && k != 11) {
        return i + "st";
    }
    if (j == 2 && k != 12) {
        return i + "nd";
    }
    if (j == 3 && k != 13) {
        return i + "rd";
    }
    return i + "th";
  }

  function updateGiveawayByRound(data, rnd) {
    if(reportDataTable) {
      reportDataTable.clear().draw();
    }
    $("#giveaway-table-search").val('');
    $("#general-info-participate").text("");
    var tableData = data.users;
    var tableColumns =  [
            { 
              "data": "hashcode", "title": "Position", 
              "render": function  ( data, type, row, meta ) { 
                return meta.row + 1; 
              }
            },
            { "data": "hashcode", "title": "User"},
            { "data": "status", "title": "Status"},
            { "data": "date", "title": "Activation date"}
        ];
    if(rnd != undefined ) {
      var roundParticipants = rnd.participants.split(',');
      // rnd.seed - 16x radix, rnd.seedInteger - 10-radix
      let validateLink = "<a target='_blank' href='https://www.wolframalpha.com/input/?i=(0x"+rnd.seed + 
            " mod " + roundParticipants.length +")+%2B+1+%3D'>"+ ordinal_suffix_of(rnd.selection + 1)+ " is Winner</a>";
      let linkToBicoinHash = "<a href='https://www.blockchain.com/btc/block/" + rnd.seed + 
              "' data-toggle='tooltip' target='_blank' " +
              "title='Bitcoin hash block " + rnd.seed + " 16-radix'>...." + rnd.seed.substring(52) + "</a>";
      $('#report-total').html(
        "<div class='overview overview-active_supporters'>"+
            "<p>" + rnd.winner.split(',').length +  "</p><span>winners</span></div>" + 
        "<div class='overview overview-register_supporters'>"+
          "<p>" + roundParticipants.length +"</p><span>participants</span></div>" +
          "<div class='overview overview-region'>" +
            "<p>" + linkToBicoinHash + "&nbsp;&rarr;&nbsp; " + roundParticipants.length + " = " + 
                    validateLink + 
              "</p>" +
          "<span>random seed (bitcoin block)</span></div>"
        );
        tableData = [];
        for(var ri = 0; ri < roundParticipants.length; ri++) {
          var person = {
              hashcode : roundParticipants[ri], 
              status : rnd.winner == roundParticipants[ri] ? 'Winner' : 'Participated',
              date : ''
            };
          tableData.push(person);
        }
        tableColumns.pop(); 
    } else {
      $('#report-total').html(
        "<div class='overview overview-active_supporters'>"+
            "<p>" + data.winners +  "</p><span>winners</span></div>" + 
        "<div class='overview overview-register_supporters'>"+
          "<p>" + data.participants +"</p><span>participants</span></div>" +
        "<div class='overview overview-region'>"+
          "<p>" + data.rounds.length +" / " + data.totalRounds + "</p><span>rounds</span></div>"
        );
    }
    $('.table-controls.support-country-controls').removeClass('hidden');
    if(reportDataTable) {
      reportDataTable.destroy();
      $('#support-table').empty();
    } 
    reportDataTable = $('#support-table').DataTable({
        data: tableData,
        destroy: true,
        columns: tableColumns,
        "paging":   true,
        "ordering": false,
        "iDisplayLength": $('#giveaway-table-select').val(),
        "info":     false,
        "searching": true,
        "dom": "tp"
    });
    $('.table-controls.support-controls').removeClass('hidden');

  }


  function updateGiveawayByMonth() {
    if(reportDataTable) {
      reportDataTable.clear().draw();
      $('#report-total').html("");
    }
    var args = "?series="+defaultSeries;
    if(currentSeries == '') {
        if(window.location.search != '') {
            args = window.location.search;
        }
    } else {
        args = "?series="+currentSeries;
    }
    $.ajax({
          url: "/giveaway/list"+args, 
          async: true
    }).done(function(res) {
          var data = res;
          giveawayData = res;
          if (data.date != null && data.date != undefined) {
            $('#overview-supporters-span').html("Generation date <span>"+ formatDate(data.date) + "</span>");
          } else { 
            $('#overview-supporters-span').html(""); 
          }
          updateGiveawayByRound(data, undefined);
           if(data.message == "") {
            $("#general-info-participate").hide();  
          } else {
            $("#general-info-participate").show();
            $("#general-info-participate").text(data.message);
          }
          $("#giveaway-round-selection").empty();
          $("#giveaway-round-selection").append( "<option value='' class='selected'>Overview</option>");
          for(mi = 0; mi < data.rounds.length; mi++) {
            var rnd = data.rounds[mi];
            // ' selected':''
            $("#giveaway-round-selection").
                append( "<option value='" + mi + "'>" + 
                    rnd.message + "</option>");
          }
          setParticipantsOverviewHint();
    });
  }
  
  function formatYearMonthHuman(year, month) {
    var monthNames = ["January", "February", "March", "April", "May", "June",
          "July", "August", "September", "October", "November", "December"];
    return monthNames[month - 1] + " " + year;
  }
  
  function formatYearMonth(year, month) {
    if(month < 10) {
      return year +"-0" +month;
    } else {
      return year +"-" +month;
    }
  }
  $(document).ready(function(){
     $.ajax({
          url: "/giveaway/series" ,
          async: true
    }).done(function(res) {
      for(var i = 0; i < res.seriesList.length; i++ ) {
          var nm = res.seriesList[i].name;
          // formatYearMonth(yi,mi)
          if(i == 0) {
              defaultSeries = nm;  
          }
          $("#giveaway-series-selection").append("<option value='" + nm + "'"+
                (i == 0? ' selected':'')+">" + nm + "</option>");
      }
      updateGiveawayByMonth();

    
      $('#giveaway-series-selection').on('change', function (e) {
        if (!$('#information').is(':visible')) {
          $('.loading').addClass("active");
        }
        var optionSelected = $("option:selected", this);
        currentSeries = this.value;
        // supportMonthName = optionSelected.text();
        updateGiveawayByMonth();
        setParticipantsOverviewHint();
      });

    });


    $('#read_more').on('click', function() {
      $('#general-info').show();

    });
    $('[data-toggle="tooltip"]').tooltip(); 

    
    $('#giveaway-round-selection').on('change', function (e) {
        var optionSelected = $("option:selected", this);
        var roundValue = this.value;
        updateGiveawayByRound(giveawayData, 
          roundValue == '' ? undefined : giveawayData.rounds[roundValue]);
        setParticipantsOverviewHint();
    });
    $('#giveaway-table-search').on('keyup', function() {
      reportDataTable.search(this.value).draw();
    });

    $('#giveaway-table-select').on('change', function() {
      reportDataTable.page.len(this.value).draw();
    });

  });

  function setParticipantsOverviewHint() {
    var rnd = $("#giveaway-round-selection").children("option").filter(":selected").attr('value');
    var rndtxt = $("#giveaway-round-selection").children("option").filter(":selected").text();
    var currentS  = $("#giveaway-series-selection").children("option").filter(":selected").text();
    if(rnd == "" ) {
      $('#overview-giveaway_options').text(currentS);
    } else {
      $('#overview-giveaway_options').text(currentS + " - " + rndtxt);
    }
  }
  

  $(document).on({
    //ajaxStart: function() { 
      //if (!$('#information').is(':visible')) {
        //$('.loading').addClass("active");
      //}
    //},
    ajaxStop: function() { 
      $('.loading').removeClass("active");
    }
  });
  
</script>
</body>
</html>
