<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>OsmAnd - Offline Mobile Maps and Navigation</title>
  <script th:replace="pub/fragments/default_links"></script>
</head>
<body>
  <div class="maincontainer">
    <div class="main">
      <div th:replace="pub/fragments/simple_header :: header('HELP', 'HELP' ) " />
      <div class="articles">
        <div class="articlescontainer">
          
          <div class="article" th:include="@{'help/' + ${article}}">
          </div>

          <div class="article-menu-wrapper">
            <div class="modal-menu-button"></div>
            <div class="article-menu">
              <div class="acticlestitles">
                <h2>Help</h2>
                <ul class="articlelinklist">
                  <!-- 
                  <li><div id="google_translate_element"></div><script type="text/javascript">
                    function googleTranslateElementInit() {
                    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
                }
                </script>
                <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script></li> -->
                  <li><a data-gatag='faq' href="/help-online/faq">FAQ</a></li>
                  <li><a data-gatag='downloads' href="/downloads">Downloads</a></li>
                  <li><a data-gatag='features' href="https://docs.osmand.net/en/main@latest/osmand">Documentation (alpha)</a></li>
                  <li><a data-gatag='technical' href="https://docs.osmand.net/en/main@latest/development">Technical Articles</a></li>
                  <li><a data-gatag='map-legend' href="/help-online/map-legend">Map Legend</a></li>
                  <li><a data-gatag='map-legend' href="/help-online/mission">OsmAnd Mission</a></li>
                  <li><a data-gatag='privacy-policy' href="/help-online/privacy-policy">Privacy Policy</a></li>
                  <li><a data-gatag='terms-of-use' href="/help-online/terms-of-use">Terms Of Use</a></li>
                  <li><a data-gatag='license' href="/help-online/license">License</a></li>
                  <li><a data-gatag='about' href="/help-online/about">About</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div th:replace="pub/fragments/footer"/>
    </div>
  </div>
  <script>
    $('.modal-menu-button').on('click', function(e) {
      e.preventDefault();
      $(this).toggleClass('active');
      $('.article-menu').slideToggle();
    });

    $('body').on('click', function() {
      if ($('.modal-menu-button').hasClass('active')) {
        $('.modal-menu-button').toggleClass('active');
        $('.article-menu').slideToggle();
      }
    });

    $(window).on('resize', function() {
      if ($(document).width() > 900) {
        $('.article-menu').attr('style', false);
        $('.question').removeClass('active');
        $('.question .content').attr('style', false);
      }
    });

    $('.article-menu-wrapper').on('click', function(e) {
      e.stopPropagation();
    });

    $('.question .subtitle').on('click', function(e) {
      e.preventDefault();

      if ($(document).width() < 900) {
        $(this).parent().toggleClass('active');
        $(this).next().slideToggle();
      }
    });
  </script>
</body>
</html>
