<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Indexes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:include="pub/fragments/table_frag :: index_table (${region}, 'Hosted maps')"></div>
<div th:include="pub/fragments/table_frag :: index_table (${road_region}, 'Hosted Road only maps')"></div>
<div th:include="pub/fragments/table_frag :: index_table (${srtmcountry}, 'Hosted SRTM contour files')"></div>
<div th:include="pub/fragments/table_frag :: index_table (${wiki}, 'Hosted wiki files')"></div>
<div th:include="pub/fragments/table_frag :: index_table (${wikivoyage}, 'Hosted wikivoyage files')"></div>
<div th:include="pub/fragments/table_frag :: index_table (${travel}, 'Hosted travel guide files')"></div>
<div th:include="pub/fragments/table_frag :: index_table (${depth}, 'Hosted depth files')"></div>
<div th:include="pub/fragments/table_frag :: index_table (${hillshade}, 'Hosted hillshade files')"></div>
<div th:include="pub/fragments/table_frag :: index_table (${slope}, 'Hosted Slope files')"></div>
<div th:include="pub/fragments/table_frag :: index_table (${heightmap}, 'Hosted heightmap files')"></div>
</div>


</body>
</html>
