<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>OsmAnd - Offline Mobile Maps and Navigation</title>
  <script th:replace="pub/fragments/default_links"></script>
  <script type="text/javascript" src="/scripts/slick.min.js"></script>
  <script type="text/javascript" src="/scripts/mapselector.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/slick.css"/>
</head>
<body>

<div class="maincontainer">
  <div class="main" th:include="pub/fragments/simple_header :: header('MAIN', ${#messages.msg('index_title')} ) ">
  
  </div>

 
  
  <div th:replace="@{'pub/fragments/'+${locale_path}+'main_page'}"/>

  <div class="blogcontainerwrap">
    <div class="blogcontainer">
      <div>
        <h2>Twitter</h2>
        <a class="twitter-timeline" href="https://twitter.com/osmandapp" data-widget-id="598236050113372160" height="502">Tweets by @osmandapp</a>
        <script>
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        </script>
      </div>
      <div>
        <h2>Poll</h2>
        <div th:include="pub/fragments/main_poll" />
      </div>
    </div>
  </div>


  <div th:replace="pub/fragments/footer"/>

</div>

<script type="text/javascript">
  var sl;
  var mapsel;
  var timeout = 50;

  $( document ).ready(function() {

    function setSliderSettings() {
      return {
        infinite: true,
        autoplaySpeed: 4000,
        arrows: true,
        slidesToShow: 4,
        responsive: [
          {
            breakpoint: 1200,
            settings: {
              arrows: false,
              slidesToShow: 4,
              centerMode: true,
              autoplay: true
            }
          },
          {
            breakpoint: 900,
            settings: {
              arrows: false,
              slidesToShow: 3,
              autoplay: true
            }
          }
        ]
      }
    }

    $('.images.android').slick(setSliderSettings());

    $('.screenshot').on('click', function(e) {
      e.preventDefault();

      if ($(window).width() < 1200) {

        var currentScreenshot = $(this).clone()
                                       .removeClass('slick-slide slick-active slick-current')
                                       .addClass('in-preview')
                                       .attr('style', false);

        $('body').addClass('tech-oh');

        if (navigator.userAgent.match(/(iPhone|iPod|iPad)/i)) {
          $currentScrollPos = $(document).scrollTop();
          $('body').css({
            'position': 'fixed'
          });
          localStorage.cachedScrollPos = $currentScrollPos;
        }

        currentScreenshot.appendTo($('.screenshot-preview-holder'));
        $('.screenshot-preview-holder').fadeIn();

      }

    });

    $('.screenshot-preview-holder').on('click', function() {

      $('body').removeClass('tech-oh');

      if (navigator.userAgent.match(/(iPhone|iPod|iPad)/i)) {
        $('body').css({
          'position': 'static'
        });
        $('body').scrollTop(localStorage.cachedScrollPos);
      }

      $(this).fadeOut('slow').empty();

    });

    $('.switch .button').on('click', function(e) {
      if ($(this).hasClass('active')) {
        return;
      } else {
        e.preventDefault();
        var platform = $(this).data('gatag').split('_')[0];
        $('.switch .button').removeClass('active');
        $(this).addClass('active');
        $('.images.slick-slider').slick('unslick').hide();
        $('.images.' + platform).show().slick(setSliderSettings());
      }
    });

    $('.selectbox').on('click', function() {
      $(this).toggleClass('active');
    });


    $("#register_email").on('input', function() {
      var email = $("#email").val();
      if(email != "" && email.indexOf('@') != -1 && email.indexOf('.') != -1) {
          $("#register_giveaway").removeAttr( "disabled" );
          $("#register_giveaway").removeClass("giveaway-submit-disabled");
      } else {
          $("#register_giveaway").prop( "disabled", true );
          $("#register_giveaway").addClass("giveaway-submit-disabled");
      }
    });
    $("#register_giveaway").click(function( event ) {
      event.preventDefault(); 
      $.post("/subscription/register_email", $("#register_email").serialize(), function(res) {
          var data = res;
          if (data.error) {
            $("#register_giveaway_failed").fadeIn(100);
            $("#register_giveaway_failed").html(data.error);
          } else {
            $("#register_giveaway_failed").fadeOut(0);
            $("#register_giveaway_success").fadeIn(100); 
            $("#register_giveaway").text("\u2714\uFE0F"); 
            $("#register_giveaway").addClass( "giveaway-submit-success");
            $("#register_giveaway").prop( "disabled", true );

          }     
      });
    });

    if ($(window).width() < 1100) {
      $('.selectbox .selecttitle.first').append('<p class="selected-map">' + getMapName($('.map-selector label').first()) + '</p>');
    }

    function getMapName(elem) {
      return elem.text();
    }

    function setMapName(elemText) {
      $('.selected-map').text(elemText);
    }

    $('.map-selector label').on('click', function(e) {
      e.stopPropagation();
      setMapName(getMapName($(this)));
      $('.selectbox').removeClass('active');
    })

    $('.theme-selector input').on('change', function() {
      if ($(window).width() < 1100) {
        $('.theme-selector label').removeClass('active');
        $(this).parent().addClass('active');
      }
    });

    mapsel = new mapselector($(".mapcontainer"));

    $(".specialevent").height($(".specialeventcontent").height() - 60);
    $(window).on('resize', function(){
        $(".specialevent").height($(".specialeventcontent").height()- 60);

        if (!$('.menu-hamburger').is(':visible')) {
          $('.menu').removeClass('active');
          $('.maincontainer').removeClass('menu-open');
        }

        if ($(document).width() < 1100) {
          if (!$('.selected-map').is(':visible')) {
            $('.selectbox .selecttitle.first').append('<p class="selected-map">' + getMapName($('.map-selector label').first()) + '</p>');
          }
        } else {
          $('.selected-map').hide();
        }
      
        setSlideHeight();

    });

    setTimeout(applyPolStyles, timeout);
    
    function setSlideHeight() {
	      var containerHeight = $('.slick-track').height();
	      $('.slick-slide').css('height', containerHeight + 'px' );
    }
    
    setSlideHeight();

  });
</script>
</body>
</html>
