/*cleaning up*/
body{margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:1.1em;}
ul{list-style-type: none; margin:0; padding:0;}
ul li{padding:0; margin:0;}
h1 { -webkit-margin-before:0; -webkit-margin-after:0;}

/*default styles*/
h1{font-weight:normal; font-size:40px; letter-spacing: 0.06em; padding-top:25px; padding-bottom:25px;}


.maincontainer{ width:100%;  height:auto; overflow:hidden; background-color:#CFCFCF; min-width:1280px;}
.main {position:relative; max-width:1900px; margin:0 auto;}
.header {position:relative; color:#fff; height:620px; background: url("images/NY_Header.jpg") center top no-repeat; background-size:cover;}

.headerimage {position:absolute; top:0; left:0; width:100%;}
.headertitle {position:absolute; bottom:-15px; left:20%; right:20%; background: #fff; border: 2px solid;
    border-radius: 15px;}
.headertitletext {text-align:center; padding: 3px 0;color:#000; line-height:1.6em;}
.headerlogo{position:absolute; top:55px; left:21%; width:200px;}
.headertext {position:absolute; top:35%; left: 21%; font-size:50px; letter-spacing:0.06em; line-height:1.6em;}
.menu{position: relative; float: right; list-style-type: none;  font-family:Verdana, Arial; font-weight:bold; padding-right:10%; padding-top:100px; letter-spacing:0.06em;}
.menu li{float:left; padding-right:55px;}
.menu a{color:#fff; text-decoration:none;}
.badges{position:absolute; top:400px; left:21%;}
.badges li{float:left; padding-left:15px;}
.badges li.first {padding-left:0;}
.badges li img{height:40px; border:none;}

.specialeventtext {position:relative; font-size:14px; left:25%; right:25%; top:15px; float:left; line-height:1.6em;}
.specialevent {position:relative; overflow:hidden;background:#fff; }

/************* features*****************************/
.features{position:relative; overflow:hidden;background:#fff;}
.features img{width:250px;}
.features ul li {border-bottom: 1px solid #EFEFEF; }
.features ul li.last{border-bottom: none;}
.features .imagecolumn{float:left; width:400px; text-align:center;}
.features .textcolumn{float:left; width:700px;}
.featurestitle{text-align:center; padding: 25px 0;color:#000;}
.featurestitle p{color:#C2C2C2; font-size:21px;}
.itemcontainer{position:relative; width:1100px; margin:50px auto; overflow:hidden;}
.features .categorydescription{list-style-type:disc; padding-right:40px; padding-left:20px;}
.features  .categorydescription li{border-bottom:none; padding-bottom:5px; padding-left:5px;}

/*.mapexample img{width:1200px; }*/
.mapexample{background:#fff; position:relative;padding-top:20px; padding-bottom:20px;}
.mapexampleheader{width:1100px; margin:0 auto;}
.mapcontainer{position:relative; background: url("images/cycling-default.png") center center no-repeat; height: 450px; background-size:cover; margin:0 auto; margin-bottom:40px;}
.selectbox{ width:157px; position:absolute; top:20px; right:15%; background-color:#fff; padding:15px;-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.selectbox .selecttitle{padding: 19px 5px 6px 5px;color:#2196F3; font-weight:bold; font-size:14px;}
.selectbox .selecttitle.first{padding-top: 2px;}
.selectbox ul {margin:0;padding-left:0;}
.selectbox ul li {line-height: 15px; font-size:11px;}
.selectbox input{padding-top:5px;}

.screenshots{background:#EDEDED; position:relative; padding:20px; overflow:hidden;}
.slider{position:relative;width:1100px; margin:0 auto;}
.arrow{cursor:pointer;padding-bottom: 207px;}
.left{ margin-left: -76px; padding-right: 30px;}
.right{padding-left: 30px; }
.screenshots ul {padding:0; height:416px; overflow:hidden; display: inline-block;}
.screenshots ul li{float:left; padding-left:30px;}
.screenshots ul li.first{padding-left:0;}
.screenshots ul img {max-width:235px; max-height:415px;}
.disabled {cursor:default;}

.blogcontainerwrap{background:#fff;}
.blogcontainer {width:1100px; overflow:hidden; margin:0 auto; }
.blogcontainer .leftcolumn{float:left; width:500px;}
.blogitem h3 {font-size:21px; color:#76B6F6; font-weight:normal; margin:0;}
.blogitem p{margin-top:5px;}
.blogitem .readmore {text-align:left; display:inline-block; margin-bottom:40px;}
.blogitem .readmore a{color:#9A9A9A;}
.blogitem .date {float:right; color:#9A9A9A;}

.footer{position:relative; background-color:#43464D; height:220px; }
.halvecolumn{width:50%; float:left;}
.thirdcolumn{width:30%; float:left;}
.footer .narrow{width:20%;  float:left;}
.footer .wide{width:40%;  float:left;}
.footerlogo{position:absolute; top:30px; left:21%; width:200px;}
.footerlinkstitle{color: #698C8E; margin-top:18px; margin-bottom:10px;}
.footer ul{list-style-type: none;  font-size:0.8em; padding-left:0; padding-top:25px;}
.footer ul li {line-height:31px;}
.footer ul a{color:#fff; text-decoration:none;}

