 <div class="features">
    <div class="featurestitle">
      <h2>ФУНКЦИИ</h2>
      <p>Просмотр Мировых Мобильных Карт и Навигация для Онлайн и Оффлайн карт OSM</p>
    </div>
    <div class="featurescontainer">
      <div class="featureblock">  
        <div class="featureblocktitle feature-nav"> 
          <h2>Навигация</h2>
        </div>
        <ul class="categorydescription">
          <li>Работает полностью в автономном режиме (без платы за роуминг, когда вы находитесь за границей)</li>
          <li>Пошаговое голосовое сопровождение (записанные и синтезированные голоса)</li>
          <li>Объявляет о дорожных предупреждениях, таких как знаки остановки, пешеходные переходы или превышение скорости</li>   
          <li>Дополнительно указывает полосы движения, отображает названия улицы и предполагаемое время прибытия</li>
          <li>Поддерживает промежуточные точки на вашем маршруте</li>
          <li>Автоматически перенаправляет при отклонении от маршрута</li>
          <li>Поиск мест по адресу, по типу (например: ресторан, гостиница, АЗС, музей) или по географическим координатам</li>
        </ul>
      </div>
    
      <div class="featureblock">  
        <div class="featureblocktitle feature-map"> 
          <h2>Просмотр карты</h2>
        </div>
        <ul class="categorydescription">
          <li>Пользуйтесь очень подробными, полностью автономными картами любого региона мира на своем устройстве!</li>
          <li>Отображение вашей позиции и ориентации на карте</li>
          <li>Настройте ориентацию карты в соответствии с компасом или вашим направлением движения</li>
          <li>Сохраните ваши самые важные места как “Избранные”</li>
          <li>Отображание POI (достопримечательности) вокруг вас</li>
          <li>Возможность отображения тайлов онлайн карт</li>
          <li>Также есть отображение вида со спутника (из Bing)</li>
          <li>Можно отображать различные наложения, такие как туристические/навигационные треки GPX и дополнительные карты с настраиваемой прозрачностью</li>
          <li>Настройте показ названия мест на английском, местном или фонетическом написании</li>
        </ul>
      </div>    
    
      <div class="featureblock">  
        <div class="featureblocktitle feature-bike"> 
          <h2>Для велосипедов и пешеходов</h2>
        </div>
        <ul class="categorydescription">
          <li>Автономные карты включают тропы, пешеходные и велосипедные дорожки, отлично подходящие для активного отдыха</li>
          <li>Отображение карты и режима навигации для велосипеда и пешехода</li>
          <li>Опционально отображаются остановки общественного транспорта (автобус, трамвай, поезд), включая названия линий</li>
          <li>Опционально включается запись поездки в локальный трек GPX или онлайн-сервис</li>
          <li>Опционально выводится на дисплей скорость и высота</li>
          <li>Отображение контурных линий и затенений рельефа (через дополнительный плагин)</li>    
        </ul>
      </div>
    
      <div class="featureblock">  
        <div class="featureblocktitle feature-opensource">
          <h2>Открытый Код <span class="subheader"> данные OpenStreetMap &amp; Wikipedia</span></h2>
        </div>
        <ul class="categorydescription">
          <li>Качественная информация от 2 лучших совместных проектов мира</li>
          <li>Мировые карты от OpenStreetMap, с разбивкой на страны и регионы</li>
          <li>Википедия POI, отлично подходит для осмотра достопримечательностей (недоступно в бесплатной версии)</li>
          <li>Неограниченное количество бесплатных загрузок карт прямо из приложения (ограничение загрузки 7 файлов карт в бесплатной версии)</li>
          <li>Всегда актуальные карты (обновляются не реже одного раза в месяц)</li>
          <li>OsmAnd Live - почасовые обновления карт и доступны все функции (доступно по подписке)</li>
          <li>Компактные автономные векторные карты</li>  
          <li>Выберите между картой с полными данными и картой дорог (пример: вся Япония составляет 700 МБ, карта дорог - 200 МБ)</li>            
          <li>Также поддерживает онлайн или кэшированные тайлы карт</li>
        </ul>
      </div>
    
    </div>
  </div>

  <div class="screenshots">  
    <div class="slider">
      <div class="sliderheader">
        <h2>Скриншоты</h2>
        <div class="switch">
          <div class="button active" data-gatag="android_button">Android</div>
          <div class="button" data-gatag="ios_button">iOS</div>
        </div>
      </div>
      <div class="images android">
        <img class="screenshot android" src="/images/promo-1s.png"/>
        <img class="screenshot android" src="/images/promo-2s.png"/>
        <img class="screenshot android" src="/images/promo-3s.png"/>
        <img class="screenshot android" src="/images/promo-4s.png"/>
        <img class="screenshot android" src="/images/promo-5s.png"/>
        <img class="screenshot android" src="/images/promo-6s.png"/>
        <img class="screenshot android" src="/images/promo-7s.png"/>
        <img class="screenshot android" src="/images/promo-8s.png"/>
        <img class="screenshot android" src="/images/promo-9s.png"/>
        <img class="screenshot android" src="/images/promo-10s.png"/>
        <img class="screenshot android" src="/images/promo-11s.png"/>
        <img class="screenshot android" src="/images/promo-12s.png"/>
      </div>
      <div class="images ios">
        <img class="screenshot ios" src="/images/ios-1s.png"/>
        <img class="screenshot ios" src="/images/ios-2s.png"/>
        <img class="screenshot ios" src="/images/ios-3s.png"/>
        <img class="screenshot ios" src="/images/ios-4s.png"/>
        <img class="screenshot ios" src="/images/ios-5s.png"/>
      </div>
    </div>  
    <div class="screenshot-preview-holder"></div>
  </div>

  <div class="whatyousay">
    <div class="whatyousaycontainer">     
      <h2>Вы о нас</h2>
      <div class="whatyousayblock">
        <div class="whatyousaymessage">
          <span>"I use openstreetmap &amp; osmandapp for hiking. Their new iD map editor is easy, so I added a few missing local footpaths."</span>
        </div>
        <div class="signature">
          <div class="name">Iain Cheyne</div>
          <div class="source">twitter: @Icheyne</div>
        </div>
      </div>          
      
      <div class="whatyousayblock ">
        <div class="whatyousaymessage">
          <span>"Saved me numerous times, I would not have survived the Philippines without it!"</span>
        </div>
        <div class="signature">
          <div class="name">Michelle Ann Levine</div>
          <div class="source">Google Play</div>
        </div>
      </div>
      
      <div class="whatyousayblock">
        <div class="whatyousaymessage">
          <span>"Installed on a whim while on a cycling trip : I was very impressed by the amount of detail!"</span>
        </div>
        <div class="signature">
          <div class="name">Fran&#231;ois-Xavier Thomas</div>
          <div class="source">Google Play</div>
        </div>
      </div>

      <div class="whatyousayblock">
        <div class="whatyousaymessage">
          <span>"Found osmandapp :) trip planning is incredible."</span>
        </div>
        <div class="signature">
          <div class="name">Joanne Donn</div>
          <div class="source">twitter: @GearChic</div>
        </div>
      </div>
      
      <div class="whatyousayblock">
        <div class="whatyousaymessage">
          <span>"Whenever I travel I always use it. Very useful."</span>
        </div>
        <div class="signature">
          <div class="name">Sonny Lacanlale</div>
          <div class="source">Google Play</div>
        </div>
      </div>
      
      <div class="whatyousayblock">
        <div class="whatyousaymessage">
          <span>"Great navigation app with offline maps from OpenStreetMap with e.g. lane by lane navigation while driving, the UI is a bit difficult to navigate but it's a must app for vacation abroad."</span>
        </div>
        <div class="signature">
          <div class="name">Jan Igerud</div>
          <div class="source">Google Play</div>
        </div>
      </div>

      <div class="badgescontainer">
        <div class="badges">
          <a data-gatag="googleplay" href="https://play.google.com/store/apps/details?id=net.osmand&amp;referrer=utm_source%3Dwebsite%26utm_medium%3Dtop"><img alt="Get it on Google Play" src="/images/en-play-badge.png" /></a>
          <a data-gatag="amazon" href="http://www.amazon.com/gp/product/B00D0SEGMC/ref=mas_pm_OsmAnd-Maps-Navigation"><img alt="Get it on Amazon" src="/images/amazon-apps-store.png" /></a>
          <a data-gatag="ios" class="appstoretopbadge" href="https://itunes.apple.com/app/apple-store/id934850257?pt=2123532&amp;ct=WebSite&amp;mt=8"><img src="/images/app-store-badge.png"/></a>
        </div>
      </div>
    </div>
  </div>

  <div class="mapexample">
    <div class="mapexampleheader">  
      <h2>Пример карты</h2>
    </div>
    <div class="mapcontainer">
      <div class="selectbox">
        <div class="selecttitle first">СТИЛЬ КАРТЫ</div>
        <ul class="theme-selector">
          <li>
            <label class="active"><input data-gatag="osmand" type="radio" name="style" value="default" checked="true" />OsmAnd</label>
          </li>
          <li>
            <label><input data-gatag="osmand_night" type="radio" name="style" value="night"/>OsmAnd - ночной</label>
          </li>      
        </ul>
        <div class="selecttitle">ПОКАЗАТЬ</div>
        <ul class="map-selector">
          <li>
            <label><input data-gatag="city_map" type="radio" name="show" value="citymap" checked="true"/>Городская карта</label>
          </li>
          <li>
            <label><input data-gatag="cycling_routes" type="radio" name="show" value="cycling"/>Велосипедные маршруты</label>
          </li>
          <li>
            <label><input data-gatag="detailed_map" type="radio" name="show" value="detailedmap"/>Детальная карта</label>
          </li>
          <li>
            <label><input data-gatag="hiking" type="radio" name="show" value="hiking"/>Пеший туризм</label>
          </li>
          <li>
            <label><input data-gatag="public_transport" type="radio" name="show" value="subway" />Общественный транспорт</label>
          </li>
          <li>
            <label><input data-gatag="road_surface" type="radio" name="show" value="roadsurface"/>Поверхность дороги</label>
          </li>
          <li>
            <label><input data-gatag="nautical_sea" type="radio" name="show" value="nauticalsea"/>Морской - моря</label>
          </li>
          <li>
            <label><input data-gatag="nautical_canals" type="radio" name="show" value="nauticalcanals"/>Морской - каналы</label>
          </li>
        </ul>
      </div>
    </div>
  </div>


  
  <div class="giveawayheader">
    <div class="subtitle" id="osmand_giveaway"><h2>OsmAnd Giveaway</h2></div>
  </div>
  <div class="giveaway">
    <div class="giveaway-message">
      <div class="giveaway-content">
          <p>Мы знаем, что не каждый может купить OsmAnd в магазине Google Play / Amazon по разным причинам, но многие из вас по-прежнему хотели бы поддержать приложение, используя его и распространяя по всему миру.</p> 
          
          <p>Мы гордимся нашей аудиторией, поэтому мы решили разыграть лицензии OsmAnd в рамках небольшой развлекательной игры.</p>
          <a href="https://osmand.net/giveaway">Читать далее</a>
      </div>
      <div class="giveaway-form">
        <form role="form" action="subscription/register_email" method="post" id="register_email">
          <div class="giveaway-form-subtitle first-subtitle">Я пользуюсь OsmAnd в:</div>
          <div class="giveaway-form-devices">
            <div class="giveaway-form-device">
              <label><input type="radio" id="giveaway-android" name="os" value="android"/>Android</label>
            </div>
            <div class="giveaway-form-device">
              <label><input type="radio" id="giveaway-android" name="os" value="ios"/>iOS</label>
            </div>
          </div>
          <div class="giveaway-form-subtitle">Введите свою электронную почту для участия:</div>
          <div class="giveaway-form-user">
            <input type="text" class="giveaway-email" id="email" name="email">
            <button type="submit" id="register_giveaway" class="giveaway-submit giveaway-submit-disabled" disabled>Подписаться</button>
          </div>
        </form>
        <div id="register_giveaway_failed" style="display:none">Ошибка в регистрации :(</div>
        <div id="register_giveaway_success" style="display:none">Поддержи разработку приложения, рассказав об OsmAnd в соц сетях.</div>
      </div>

    </div>
    <div class="giveaway-picture">
      </div> 
  </div>