body {
  margin:0;
  padding:20px;
  max-width: 1100px;
}

table {
  border-collapse: collapse;
}

.send-private-giveaway, .register-giveaway, .access-server-logs {
	margin: 20px 0px;
	border: 1px solid #e6e6e6;
	width: 50%;

}
.wrapper {
   list-style-type: none;
   padding: 0;
   border-radius: 3px;
   
}
.form-row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
  text-align: left;
}

.form-row > label {
  flex: 1;
}
.form-row > input {
   flex: 1;
   width: auto;
}
.form-row > button {
   flex: 1;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:hover {background-color: #d5d5d5;}

th {
  background-color: #4CAF50;
  color: white;
}